---
import { getCollection, render } from "astro:content";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ExternalLink from "@/components/ExternalLink.astro";
import Pagination from "@/components/Pagination.astro";
import { stripDatePrefix } from "@/lib/utils";

export async function getStaticPaths({ paginate }) {
  const entries = await getCollection("articles");

  const sortedEntries = entries.sort(
    (a, b) =>
      Date.parse(b.data.published.toString()) -
      Date.parse(a.data.published.toString()),
  );

  return paginate(sortedEntries, { pageSize: 20 });
}

type Props = { page: Page<CollectionEntry<"articles">> };

const { page } = Astro.props;

const renderedEntries = await Promise.all(
  page.data.map(async (entry) => {
    const { Content } = await render(entry);
    return { entry, Content };
  }),
);
---

<BaseLayout title="Articles">
  <header class="container mt-4">
    <span
      class="block max-w-[40ch] text-2xl leading-tight font-medium tracking-tight"
      ><h1 class="inline">Articles</h1>
      <span class="text-muted-foreground"
        >about gear, tools, and everyday life.</span
      ></span
    >
  </header>

  <section class="container mt-16">
    <ul>
      {
        renderedEntries.map(({ entry }) => {
          const slug = stripDatePrefix(entry.id);
          return (
            <li class="not-first:border-separator not-first:mt-16 not-first:border-t not-first:pt-16">
              <article>
                <time
                  class="text-muted-foreground"
                  datetime={entry.data.published.toISOString()}
                >
                  {new Date(entry.data.published).toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "short",
                    day: "2-digit",
                    weekday: "short",
                  })}
                </time>
                <header class="mt-4">
                  <h2 class="text-lg leading-tight font-medium tracking-tight">
                    <a
                      class="decoration-underline underline decoration-[0.09375rem]"
                      href={`/articles/${slug}`}
                    >
                      {entry.data.title}
                    </a>
                  </h2>
                </header>
                <p class="text-muted-foreground mt-4">
                  {entry.data.description}
                </p>
              </article>
            </li>
          );
        })
      }
    </ul>

    <Pagination page={page} class="mt-16" collection="articles" />
  </section>
</BaseLayout>
