---
import { getCollection, render } from "astro:content";
// import slugify from "@sindresorhus/slugify";
import BaseLayout from "@/layouts/base-layout.astro";
import ExternalLink from "@/components/external-link.astro";
import { formatLinkHostname } from "@/lib/utils";
import Demo from "@/components/demo.astro";

export async function getStaticPaths() {
  const notes = await getCollection("notes");
  return notes.map((n) => ({
    params: { slug: n.id },
    props: n,
  }));
}

const note = Astro.props;
const { Content } = await render(note);
---

<BaseLayout title={note.data.title && !note.data.link ? note.data.title : null}
  ><section class="border-separator mt-20 border-t px-4 pt-20 lg:px-20">
    <div
      class="mx-auto grid max-w-prose grid-cols-1 items-start gap-10 lg:max-w-none lg:grid-cols-[1fr_65ch_1fr]"
    >
      <time
        class="text-muted-foreground"
        datetime={note.data.published.toISOString()}
      >
        {
          new Date(note.data.published).toLocaleDateString("en-US", {
            year: "numeric",
            month: "short",
            day: "2-digit",
            weekday: "short",
          })
        }
      </time>
      <article>
        {
          note.data.title ? (
            <header>
              <h2>
                {note.data.link ? (
                  <ExternalLink href={note.data.link} text={note.data.title} />
                ) : (
                  note.data.title
                )}
              </h2>
              {note.data.link ? (
                <p class="text-muted-foreground">
                  {formatLinkHostname(note.data.link)}
                </p>
              ) : null}
            </header>
          ) : null
        }
        {
          note.data.demo ? (
            <Demo class="my-5" src={note.data.demo} title={note.data.title} />
          ) : null
        }
        {
          note.body ? (
            <div class="prose mt-5">
              <Content />
            </div>
          ) : null
        }
      </article>
      <!-- {
        note.data.tags ? (
          <footer class="text-muted-foreground flex lg:justify-end">
            <dl>
              <dt class="sr-only">Tagged</dt>
              <dd class="text-right text-balance">
                {new Intl.ListFormat("en-US")
                  .formatToParts(note.data.tags)
                  .map(({ type, value }) => {
                    const slug = slugify(value);
                    if (type === "element") {
                      return <a href={`/tagged/${slug}`}>#{slug}</a>;
                    }
                    return value;
                  })}
              </dd>
            </dl>
          </footer>
        ) : null
      } -->
    </div>
  </section>
</BaseLayout>
