---
import type { GetStaticPaths, Page } from "astro";
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import BaseLayout from "@/layouts/base-layout.astro";
import { formatLinkHostname } from "@/lib/utils";
import ExternalLink from "@/components/external-link.astro";

type Props = {
  page: Page<CollectionEntry<"notes">>;
};

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const notes = await getCollection("notes");
  const sortedNotes = notes.sort(
    (a, b) =>
      Date.parse(b.data.published.toString()) -
      Date.parse(a.data.published.toString()),
  );
  return paginate(sortedNotes, { pageSize: 20 });
};

const { page } = Astro.props as Props;

const renderedNotes = await Promise.all(
  page.data.map(async (note) => {
    const { Content } = await render(note);
    return { note, Content };
  }),
);

const heading = page.currentPage === 1 ? "Latest" : `Page ${page.currentPage}`;
---

<BaseLayout
  title="Notes"
  description="Notes on engineering, developer experience, design systems, and accessibility."
>
  <section class="mt-40 px-4">
    <div class="mx-auto max-w-prose">
      <h2 class="text-muted-foreground text-balance">
        <span class="text-foreground">Notes</span> on engineering, developer experience,
        design systems, and accessibility.
      </h2>
    </div>
  </section>

  <section class="border-separator mt-20 border-t px-4 pt-20 lg:px-20">
    <div
      class="mx-auto grid max-w-prose grid-cols-1 items-start gap-y-10 lg:max-w-none lg:grid-cols-[1fr_65ch_1fr]"
    >
      <h2>{heading}</h2>
      <ul>
        {
          renderedNotes.map(({ note, Content }) => {
            const isExternalLink = note.data.link && note.data.title;
            return (
              <li class="not-first:border-separator not-first:mt-20 not-first:border-t not-first:pt-20">
                <article>
                  <a href={`/notes/${note.id}`}>
                    <time
                      class="text-muted-foreground hover:text-foreground"
                      datetime={note.data.published.toISOString()}
                    >
                      {new Date(note.data.published).toLocaleDateString(
                        "en-US",
                        {
                          year: "numeric",
                          month: "short",
                          day: "2-digit",
                          weekday: "short",
                        },
                      )}
                    </time>
                  </a>
                  <h2 class="text-foreground mt-5">
                    {isExternalLink ? (
                      <ExternalLink
                        href={note.data.link}
                        text={note.data.title}
                      />
                    ) : (
                      note.data.title
                    )}
                  </h2>
                  {isExternalLink ? (
                    <p class="text-muted-foreground">
                      {formatLinkHostname(note.data.link)}
                    </p>
                  ) : null}
                  <div class="prose mt-5">
                    <Content />
                  </div>
                </article>
              </li>
            );
          })
        }
      </ul>
      <footer class="flex flex-col gap-10 lg:items-end">
        <a
          href="/notes/rss.xml"
          class="text-muted-foreground hover:text-foreground inline-flex items-center gap-1"
          target="_blank"
          rel="noopener noreferrer"
          >Subscribe via RSS <Icon
            name="rss"
            aria-hidden="true"
            class="h-5 w-2.5 flex-none"
          /></a
        >
      </footer>
      {
        (page.url.prev || page.url.next) && (
          <nav class="grid grid-cols-3 gap-5 lg:col-start-2">
            {page.url.prev && (
              <span class="flex">
                <a
                  href={page.url.prev}
                  class="text-muted-foreground hover:text-foreground inline-flex gap-1"
                >
                  <Icon
                    name="arrow-left"
                    aria-hidden="true"
                    class="h-5 w-2.5 flex-none"
                  />{" "}
                  Prev
                </a>
              </span>
            )}
            <span class="text-muted-foreground col-start-2 text-center">
              {page.currentPage} / {page.lastPage}
            </span>
            {page.url.next && (
              <span class="flex justify-end">
                <a
                  href={page.url.next}
                  class="text-muted-foreground hover:text-foreground inline-flex gap-1"
                >
                  Next{" "}
                  <Icon
                    name="arrow-right"
                    aria-hidden="true"
                    class="h-5 w-2.5 flex-none"
                  />
                </a>
              </span>
            )}
          </nav>
        )
      }
    </div>
  </section>
</BaseLayout>
