---
import { getCollection, render } from "astro:content";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ExternalLink from "@/components/ExternalLink.astro";
import Preview from "@/components/Preview.astro";
import Pagination from "@/components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  const notes = await getCollection("notes");

  const sortedNotes = notes.sort(
    (a, b) =>
      Date.parse(b.data.published.toString()) -
      Date.parse(a.data.published.toString()),
  );

  return paginate(sortedNotes, { pageSize: 20 });
}

type Props = { page: Page<CollectionEntry<"notes">> };

const { page } = Astro.props;

const renderedNotes = await Promise.all(
  page.data.map(async (note) => {
    const { Content } = await render(note);
    return { note, Content };
  }),
);
---

<BaseLayout title="Notes">
  <header class="container mt-4">
    <span
      class="block max-w-[40ch] text-2xl leading-tight font-medium tracking-tight"
      ><h1 class="inline">Notes</h1>
      <span class="text-muted-foreground"
        >on engineering, developer experience, design systems, and
        accessibility.</span
      ></span
    >
  </header>

  <section class="container mt-16">
    <ul>
      {
        renderedNotes.map(({ note, Content }) => (
          <li class="not-first:border-separator not-first:mt-16 not-first:border-t not-first:pt-16">
            <article>
              <a
                href={`/notes/${note.id}`}
                class="text-muted-foreground inline-block"
              >
                <time datetime={note.data.published.toISOString()}>
                  {new Date(note.data.published).toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "short",
                    day: "2-digit",
                    weekday: "short",
                  })}
                </time>
              </a>
              {note.data.title ? (
                <header class="mt-4">
                  <h1 class="font-medium">
                    {note.data.link ? (
                      <ExternalLink
                        href={note.data.link}
                        text={note.data.title}
                      />
                    ) : (
                      note.data.title
                    )}
                  </h1>
                  {note.data.link ? (
                    <p class="text-muted-foreground">
                      {new URL(note.data.link).hostname}
                    </p>
                  ) : null}
                </header>
              ) : null}
              {note.data.demo ? (
                <Preview
                  class="mt-4"
                  src={note.data.demo}
                  title={note.data.title}
                />
              ) : null}
              {note.body ? (
                <div class="prose mt-4 text-pretty">
                  <Content />
                </div>
              ) : note.data.description ? (
                <div class="prose mt-4 text-pretty">
                  <blockquote>{note.data.description}</blockquote>
                </div>
              ) : null}
            </article>
          </li>
        ))
      }
    </ul>

    <Pagination page={page} class="mt-16" collection="notes" />
  </section>
</BaseLayout>
