---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ExternalLink from "@/components/ExternalLink.astro";
import { Icon } from "astro-icon/components";
import { GEAR_CATEGORY_MAP } from "@/consts.ts";

export async function getStaticPaths() {
  const gear = await getCollection("gear");
  return Object.entries(GEAR_CATEGORY_MAP).map(
    ([category, { title, description, slug }]) => ({
      params: { slug },
      props: {
        category,
        title,
        description,
        items: gear
          .filter((item) => item.data.category === category)
          .sort((a, b) => {
            return a.data.name.localeCompare(b.data.name);
          }),
      },
    }),
  );
}

const page = Astro.props;
const { title, description, category, items } = page;
---

<BaseLayout title={title}>
  <article class="container mt-4">
    <header class="mt-4">
      <h1
        class="max-w-[40ch] text-2xl leading-tight font-medium tracking-tight"
      >
        {title}
      </h1>
      <p class="text-muted-foreground mt-4 font-medium">{description}</p>
    </header>
  </article>
  {
    items.length > 0 ? (
      <section class="container mt-16 scroll-mt-16" id={category}>
        <ul class="grid grid-cols-1 gap-8 sm:grid-cols-2">
          {items.map((item) => {
            return (
              <li>
                <article>
                  <p class="text-muted-foreground mb-1 flex gap-x-1.5 font-mono text-xs tracking-widest uppercase">
                    {item.data.favorite ? (
                      <span class="flex h-[1lh] items-center">
                        <Icon
                          name="star"
                          class="size-[1em] text-amber-500 dark:text-amber-400"
                          title="Favorite"
                        />
                      </span>
                    ) : null}
                    {item.data.eyebrow}
                  </p>
                  <h3 class="font-medium tracking-tight">
                    {item.data.link ? (
                      <ExternalLink
                        href={item.data.link}
                        text={item.data.name}
                      />
                    ) : (
                      item.data.name
                    )}
                  </h3>
                  {item.data.link ? (
                    <p class="text-muted-foreground">
                      {new URL(item.data.link).hostname.replace("www.", "")}
                    </p>
                  ) : null}
                </article>
              </li>
            );
          })}
        </ul>
      </section>
    ) : null
  }

  <footer class="container mt-16">
    <a
      href="/gear"
      class="text-muted-foreground inline-flex items-center gap-x-1"
    >
      <Icon name="arrow-left" aria-hidden="true" />Back to all gear</a
    >
  </footer>
</BaseLayout>
