---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ExternalLink from "@/components/ExternalLink.astro";
import { Icon } from "astro-icon/components";
import { GEAR_CATEGORY_MAP } from "@/consts.ts";

export async function getStaticPaths() {
  const gear = await getCollection("gear");
  return Object.entries(GEAR_CATEGORY_MAP).map(
    ([category, { title, description, slug }]) => ({
      params: { slug },
      props: {
        category,
        title,
        description,
        items: gear
          .filter((item) => item.data.category === category)
          .sort((a, b) => {
            return a.data.name.localeCompare(b.data.name);
          }),
      },
    }),
  );
}

const page = Astro.props;
const { title, description, category, items } = page;
---

<BaseLayout title={title}>
  <header class="container">
    <h1
      class="text-3xl font-medium tracking-tight text-pretty [text-box-trim:trim-start]"
    >
      {title}
    </h1>
    <p class="text-muted-foreground mt-2 text-lg text-pretty">{description}</p>
  </header>
  {
    items.length > 0 ? (
      <section class="container mt-20 scroll-mt-20" id={category}>
        <ul class="grid grid-cols-1 gap-10 sm:grid-cols-2">
          {items.map((item) => {
            return (
              <li>
                <article>
                  <small class="text-muted-foreground mb-2 flex gap-x-1.5 font-mono text-xs tracking-widest uppercase">
                    {item.data.favorite ? (
                      <span class="flex h-[1lh] items-center">
                        <Icon
                          name="star"
                          class="size-[1em] text-amber-500 dark:text-amber-400"
                          title="Favorite"
                        />
                      </span>
                    ) : null}
                    {item.data.eyebrow}
                  </small>
                  <h2 class="font-medium tracking-tight">
                    {item.data.link ? (
                      <ExternalLink
                        href={item.data.link}
                        text={item.data.name}
                      />
                    ) : (
                      item.data.name
                    )}
                  </h2>
                  {item.data.link ? (
                    <p class="text-muted-foreground">
                      {new URL(item.data.link).hostname.replace("www.", "")}
                    </p>
                  ) : null}
                </article>
              </li>
            );
          })}
        </ul>
      </section>
    ) : null
  }

  <footer class="container mt-20">
    <a
      href="/gear"
      class="text-muted-foreground inline-flex items-center gap-x-1"
    >
      <Icon name="arrow-left" aria-hidden="true" />Back to all gear</a
    >
  </footer>
</BaseLayout>
