---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";
import SectionBreak from "@/components/SectionBreak.astro";
// import FormattedDate from "@/components/FormattedDate.astro";
export async function getStaticPaths() {
  const posts = await getCollection("posts", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;
const post = Astro.props;
const { Content } = await render(post);
// const date = post.data.updated ?? post.data.published;
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <Header>
    <h1 class="text-xl font-medium tracking-tight sm:text-2xl">
      {post.data.title}
    </h1>
    <p class="mx-auto mt-2 max-w-md text-balance text-neutral-400">
      {post.data.description}
    </p>
    <!-- <p class="mt-6 font-mono text-sm text-neutral-400">
      Last modified <FormattedDate date={date} />
    </p> -->
  </Header>
  <SectionBreak />
  <div class="prose px-4 py-8 sm:px-8">
    <Content />
  </div>
</BaseLayout>
