---
import { getCollection, render } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import ExternalLink from "@/components/ExternalLink.astro";
import Preview from "@/components/Preview.astro";

export async function getStaticPaths() {
  const entries = await getCollection("journal");
  return entries.map((n) => ({
    params: { slug: n.id },
    props: n,
  }));
}

const entry = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout>
  <article class="container mt-16">
    <time
      class="text-muted-foreground inline-block font-medium"
      datetime={entry.data.published.toISOString()}
    >
      {
        new Date(entry.data.published).toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
          day: "2-digit",
          weekday: "short",
        })
      }
    </time>
    {
      entry.data.title ? (
        <header class="mt-4">
          <h2 class="font-medium">
            {entry.data.link ? (
              <ExternalLink href={entry.data.link} text={entry.data.title} />
            ) : (
              entry.data.title
            )}
          </h2>
          {entry.data.link ? (
            <p class="text-muted-foreground">
              {new URL(entry.data.link).hostname}
            </p>
          ) : null}
        </header>
      ) : null
    }
    {
      entry.data.demo ? (
        <Preview class="mt-4" src={entry.data.demo} title={entry.data.title} />
      ) : null
    }
    {
      entry.body ? (
        <div class="prose prose-expanded mt-4">
          <Content />
        </div>
      ) : entry.data.description ? (
        <div class="prose mt-4">
          <blockquote>{entry.data.description}</blockquote>
        </div>
      ) : null
    }
  </article>

  <footer class="container mt-16">
    <a
      href="/journal"
      class="text-muted-foreground inline-flex items-center gap-x-1"
    >
      <Icon name="arrow-left" aria-hidden="true" />Back to all entries</a
    >
  </footer>
</BaseLayout>
