---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import CollectionRoot from "@/components/Collection/Root.astro";
import CollectionItem from "@/components/Collection/Item.astro";
import SectionBreak from "@/components/SectionBreak.astro";
import SectionLabel from "@/components/SectionLabel.astro";
import Header from "@/components/Header.astro";

const meta = {
  title: "Collections",
  description:
    "My favorite coffee gear, everyday carry tools, and smart home tech.",
};
const collections = await getCollection("collections");
---

<BaseLayout {...meta}>
  <Header>
    <SectionLabel as="p">Intro</SectionLabel>
    <h1 class="font-mono text-sm text-neutral-400">{meta.title}</h1>
    <p class="mt-2 text-xl font-medium tracking-tight text-balance sm:text-2xl">
      {meta.description}
    </p>
  </Header>

  <SectionBreak />

  <section class="relative flex-1">
    <SectionLabel as="h2">Items</SectionLabel>
    <CollectionRoot>
      {
        collections.map((collection) => {
          return (
            <CollectionItem>
              <h3 class="mb-1 font-mono text-xs text-orange-300 uppercase">
                <a
                  href={`/collections/${collection.id}`}
                  class="before:absolute before:inset-0 hover:underline"
                >
                  {collection.data.title}
                </a>
              </h3>
              <p class="font-semibold tracking-tight text-balance">
                {collection.data.description}
              </p>
            </CollectionItem>
          );
        })
      }
    </CollectionRoot>
  </section>
</BaseLayout>
