---
import { getEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import SectionBreak from "@/components/SectionBreak.astro";
import SectionLabel from "@/components/SectionLabel.astro";
import CollectionRoot from "@/components/Collection/Root.astro";
import CollectionItem from "@/components/Collection/Item.astro";
import Header from "@/components/Header.astro";

const collection = await getEntry("collections", "smart-home");
---

<BaseLayout
  title={collection.data.title}
  description={collection.data.description}
>
  <Header>
    <SectionLabel as="p">Intro</SectionLabel>
    <h1 class="font-mono text-sm text-neutral-400">{collection.data.title}</h1>
    <p class="mt-2 text-xl font-medium tracking-tight text-balance sm:text-2xl">
      {collection.data.description}
    </p>
  </Header>

  <SectionBreak />

  <section class="relative flex-1">
    <SectionLabel as="h2">Items</SectionLabel>

    <CollectionRoot>
      {
        collection.data.items.map(async ({ id }) => {
          const item = await getEntry("items", id);
          return (
            <CollectionItem>
              <p class="mb-1 font-mono text-xs text-orange-300 uppercase">
                {item.data.eyebrow}
              </p>
              <h3 class="font-semibold tracking-tight">
                <a
                  href={item.data.link}
                  class:list={[
                    "group underline decoration-neutral-600 decoration-2 hover:decoration-white",
                    "before:absolute before:inset-0",
                  ]}
                >
                  {item.data.title}
                  <span
                    class="absolute mt-px ml-1 shrink-0 rounded-xs bg-neutral-800 p-0.5 text-neutral-400 group-hover:text-current"
                    aria-hidden="true"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="size-2.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <line x1="7" y1="17" x2="17" y2="7" />
                      <polyline points="7 7 17 7 17 17" />
                    </svg>
                  </span>
                </a>
              </h3>
              {/* <p class="mt-4 text-neutral-400">{item.data.description}</p> */}
            </CollectionItem>
          );
        })
      }
    </CollectionRoot>
  </section>
</BaseLayout>
