---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import SectionBreak from "@/components/SectionBreak.astro";
import SectionLabel from "@/components/SectionLabel.astro";
import CollectionRoot from "@/components/Collection/Root.astro";
import CollectionItem from "@/components/Collection/Item.astro";
import Header from "@/components/Header.astro";
import FormattedDate from "@/components/FormattedDate.astro";

const slugs: CollectionEntry<"gear">["slug"][] = [
  "apple-home-pod-mini",
  "aqara-u100-smart-lock",
  "aqara-fp2-presence-sensor",
  "aqara-wireless-mini-switch",
  "aqara-water-leak-sensor",
  "kasa-smart-dimmer-switch",
  "philips-hue-smart-plug",
  "lutron-aurora-smart-bulb-dimmer-switch",
  "synology-ds224-nas",
];

const items = await getCollection("gear", (item) => {
  return slugs.includes(item.slug);
}).then((filteredItems) => {
  return filteredItems.sort((a, b) => {
    return slugs.indexOf(a.slug) - slugs.indexOf(b.slug);
  });
});

const changelog: {
  date: string;
  description: string;
}[] = [
  {
    date: "2024-11-17",
    description: "Added Kasa Smart Dimmer Switch to bathroom",
  },
  {
    date: "2024-11-17",
    description: "Added Kasa Outdoor Smart Plug for holiday lights",
  },
];
---

<BaseLayout
  title="Smart Home"
  description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis aliquam architecto eaque."
>
  <Header>
    <SectionLabel as="p">Intro</SectionLabel>
    <h1 class="font-mono text-sm text-neutral-400">Smart Home</h1>
    <p class="mt-2 text-balance text-xl font-medium tracking-tight sm:text-2xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis
      aliquam architecto eaque.
    </p>
  </Header>

  <SectionBreak />

  <section class="relative flex-1">
    <SectionLabel as="h2">Items</SectionLabel>

    <CollectionRoot>
      {
        items.map((item) => {
          return (
            <CollectionItem>
              <p class="mb-1 font-mono text-xs uppercase text-orange-300">
                {item.data.eyebrow}
              </p>
              <h3 class="font-semibold tracking-tight">
                <a
                  href={item.data.link}
                  class="group underline decoration-neutral-600 decoration-2 hover:decoration-white"
                >
                  {item.data.title}
                  <span
                    class="absolute ml-1 mt-px shrink-0 rounded-sm bg-neutral-800 p-0.5 text-neutral-400 group-hover:text-current"
                    aria-hidden="true"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="size-2.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <line x1="7" y1="17" x2="17" y2="7" />
                      <polyline points="7 7 17 7 17 17" />
                    </svg>
                  </span>
                </a>
              </h3>
              {/* <p class="mt-4 text-neutral-400">{item.data.description}</p> */}
            </CollectionItem>
          );
        })
      }
    </CollectionRoot>
  </section>

  <!-- <SectionBreak />

  <section class="group/changelog relative">
    <SectionLabel as="h2" class="opacity-0">Changelog</SectionLabel>

    <details>
      <summary class="p-4 text-center">View changelog</summary>
      <div class="px-4 py-8 pt-0 sm:px-8">
        <ul class="list-square space-y-1 pl-3.5">
          {
            changelog.map((item) => {
              return (
                <li class="font-mono text-sm text-neutral-400 marker:text-orange-300">
                  <FormattedDate
                    date={new Date(item.date)}
                    class="text-white"
                  />{" "}
                  &mdash;
                  {item.description}
                </li>
              );
            })
          }
        </ul>
      </div>
    </details>
  </section> -->
</BaseLayout>
