---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { format } from "date-fns";

const parseDateToString = (date: string): string => {
  const d = new Date(date);
  const t = new Date(d.valueOf() + d.getTimezoneOffset() * 60 * 1000);
  return format(t, "yyyy-MM-dd");
};

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }));
}

type Props = CollectionEntry<"pages">;

const page = Astro.props;
const { Content } = await page.render();
---

<BaseLayout {...page.data}>
  <header class="relative mb-6 border-b-2 pb-2 pr-12">
    <h1 class="font-semibold">{page.data.title}</h1>
    {
      page.data.description ? (
        <p class="text-pretty text-secondary">{page.data.description}</p>
      ) : null
    }
  </header>
  <main class="flex flex-1 flex-col">
    <div class="prose">
      <Content />
    </div>
  </main>
  <footer class="relative mt-8 border-t-2 pt-3">
    <div class="text-center">
      <p class="text-sm text-secondary">
        Published: {parseDateToString(page.data.published.toString())}
      </p>
      {
        page.data.updated ? (
          <p class="text-sm text-secondary">
            Last updated: {parseDateToString(page.data.updated.toString())}
          </p>
        ) : null
      }
      <p class="inline-flex items-center gap-1 text-sm text-secondary">
        <span>View page</span>
        <a
          href={`https://github.com/alexcarpenter/alexcarpenter.me/commits/main/src/content/pages/${page.id}`}
          class="underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          changelog
        </a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 39.24 32.26"
          height=".65em"
          fill="currentColor"
          aria-hidden="true"
          focusable="false"
          class="-rotate-45"
        >
          <path
            d="m29.1 18.43-6.19.44H0v-5.48h23.91l6.26.44L15.84 0h7.63l15.77 15.84v.58L23.47 32.26h-7.63Z"
          ></path>
        </svg>
      </p>
    </div>
  </footer>
</BaseLayout>
