---
import { getEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import TableOfContents from "@/components/TableOfContents.astro";
const page = await getEntry("documents", "favorites");
const { Content, headings } = await page.render();
---

<BaseLayout title={page.data.title} description={page.data.description}>
  <header class="pb-8 pt-40 border-b border-primary">
    <h1 class="font-semibold">{page.data.title}</h1>
    <p class="text-secondary mt-4">{page.data.description}</p>
  </header>

  <section class="py-8 relative grid sm:grid-cols-3 items-start gap-x-8">
    <TableOfContents headings={headings} />
    <article class="sm:col-span-2 prose">
      <Content />
    </article>
  </section>
</BaseLayout>
