---
import { getCollection, render } from "astro:content";
import { Icon } from "astro-icon/components";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ExternalLink from "@/components/ExternalLink.astro";
import Button from "@/components/Button.astro";
import SectionHeading from "@/components/SectionHeading.astro";

const jobs = await getCollection("jobs");
const recommendations = await getCollection("recommendations");
const ossContributions = await getCollection("ossContributions");

const renderedJobs = await Promise.all(
  jobs.map(async (job) => {
    const { Content } = await render(job);
    return { job, Content };
  }),
);
const renderedRecommendations = await Promise.all(
  recommendations.map(async (recommendation) => {
    const { Content } = await render(recommendation);
    return { recommendation, Content };
  }),
);
---

<BaseLayout>
  <header class="container mt-4">
    <span
      class="block max-w-[40ch] text-2xl leading-tight font-medium tracking-tight"
    >
      <h1 class="inline">User interface engineer</h1>
      <span class="text-muted-foreground">
        who enjoys working at the intersection of <Icon
          name="figma-full-color"
          class="inline h-[1.15em] align-text-bottom"
          aria-hidden="true"
        /> design and
        <Icon
          name="github"
          class="text-foreground inline h-[1.15em] align-text-bottom"
          aria-hidden="true"
        /> engineering teams.
      </span>
    </span>
    <p class="text-muted-foreground mt-4 max-w-[55ch] font-medium text-pretty">
      Currently I am a part of the SDK team at Clerk where I am working on our
      UI Components and dashboard UI.
    </p>
    <p class="text-muted-foreground mt-4 max-w-[55ch] font-medium text-pretty">
      In my free time, I am working on a resource around building <a
        href="https://www.resilient-ui.com"
        class="decoration-underline underline decoration-[0.09375rem]"
        target="_blank"
        rel="noopener">resilient UI's</a
      > and curating a collection of <a
        href="https://ibrewmyown.coffee/"
        class="decoration-underline underline decoration-[0.09375rem]"
        target="_blank"
        rel="noopener">home coffee setups</a
      >.
    </p>
    <Button as="a" href="/notes" class="mt-8"
      >View notes
      <Icon name="chevron-right" aria-hidden="true" class="-mr-1" />
    </Button>
  </header>

  <section class="container mt-16">
    <SectionHeading color="purple" id="experience">Experience</SectionHeading>
    <ul>
      {
        renderedJobs
          .sort(
            (a, b) =>
              Date.parse(b.job.data.startDate.toString()) -
              Date.parse(a.job.data.startDate.toString()),
          )
          .map(({ job, Content }) => (
            <li class="border-separator mt-8 rounded-sm border-t pt-8">
              <article>
                <h2 class="font-medium">{job.data.company}</h2>
                <div class="flex flex-wrap justify-between gap-x-4">
                  <p class="text-muted-foreground font-medium">
                    {job.data.title}
                  </p>
                  <p class="text-muted-foreground font-medium">
                    <time datetime={job.data.startDate.toISOString()}>
                      {new Date(job.data.startDate).toLocaleDateString(
                        "en-US",
                        {
                          year: "numeric",
                          month: "short",
                        },
                      )}
                    </time>{" "}
                    -
                    {job.data.endDate ? (
                      <time datetime={job.data.endDate.toISOString()}>
                        {new Date(job.data.endDate).toLocaleDateString(
                          "en-US",
                          {
                            year: "numeric",
                            month: "short",
                          },
                        )}
                      </time>
                    ) : (
                      <time datetime={new Date().toISOString()}>Present</time>
                    )}
                  </p>
                </div>
                <div class="prose mt-4 text-pretty">
                  <Content />
                  <ul>
                    {job.data.projects?.map((project) => {
                      return (
                        <li>
                          <ExternalLink
                            href={project.link}
                            text={project.title}
                          />
                        </li>
                      );
                    })}
                  </ul>
                </div>
                <p class="text-muted-foreground mt-4">
                  {new Intl.ListFormat("en-US", {
                    style: "long",
                    type: "conjunction",
                  }).format(job.data.tools)}
                </p>
              </article>
            </li>
          ))
      }
    </ul>
  </section>

  <section class="container mt-16">
    <SectionHeading color="red" id="interests-and-skills">
      Interests &amp; Skills
    </SectionHeading>
    <ul class="grid grid-cols-1 gap-x-8 sm:grid-cols-2">
      {
        [
          {
            iconName: "tailwind-css",
            title: "CSS Architecture",
            description:
              "I enjoy creating scalable and maintainable CSS architectures that improve performance and readability of web applications.",
          },
          {
            iconName: "figma",
            title: "Design Systems",
            description:
              "I love building cohesive design systems that ensure consistency and efficiency between design and development.",
          },
          {
            iconName: "components",
            title: "Component Libraries",
            description:
              "I take pride in crafting reusable and accessible component libraries to streamline development and enhance user experience.",
          },
          {
            iconName: "github",
            title: "Developer Experience",
            description:
              "I focus on optimizing developer workflows and tools to boost productivity and collaboration within engineering teams.",
          },
        ].map((item) => {
          return (
            <li class="border-separator mt-8 border-t pt-8">
              <header class="flex gap-2">
                <span class="flex h-[1lh] items-center">
                  <Icon name={item.iconName} class="size-[1em] flex-none" />
                </span>
                <h3 class="font-medium tracking-tight">{item.title}</h3>
              </header>
              <p class="text-muted-foreground mt-4">{item.description}</p>
            </li>
          );
        })
      }
    </ul>
  </section>

  <section class="container mt-16">
    <SectionHeading color="yellow" id="recommendations">
      Recommendations
    </SectionHeading>
    <ul>
      {
        renderedRecommendations
          .sort(
            (a, b) =>
              Date.parse(b.recommendation.data.published.toString()) -
              Date.parse(a.recommendation.data.published.toString()),
          )
          .filter(
            ({ recommendation }) => recommendation.data.status === "visible",
          )
          .map(({ recommendation, Content }) => (
            <li class="border-separator mt-8 rounded-sm border-t pt-8">
              <article>
                <div class="prose text-pretty">
                  <Content />
                </div>
                <div class="mt-4">
                  <div class="flex gap-x-1">
                    {Array.from({ length: 5 }, () => (
                      <Icon
                        name="star"
                        class="size-4 text-amber-500 dark:text-amber-400"
                      />
                    ))}
                  </div>
                  <p class="mt-2 font-medium">{recommendation.data.name}</p>
                  <p class="text-muted-foreground font-medium">
                    {recommendation.data.title}, {recommendation.data.company}
                  </p>
                </div>
              </article>
            </li>
          ))
      }
    </ul>
  </section>

  <section class="container mt-16">
    <SectionHeading color="green" id="oss-contributions">
      OSS Contributions
    </SectionHeading>

    <ul class="mt-8 flex flex-col gap-y-4">
      {
        ossContributions.map((contribution) => {
          const match = contribution.data.link.match(
            /github\.com\/([^\/]+\/[^\/]+)/,
          );
          const repo = match ? match[1] : null;
          return (
            <li class="border-separator flex gap-x-8 border-t pt-4">
              <div class="flex-1">
                <header class="flex gap-x-2">
                  <span
                    class:list={[
                      "flex h-[1lh] items-center",
                      {
                        "text-muted-foreground":
                          contribution.data.status === "open",
                        "text-green-400": contribution.data.status === "merged",
                        "text-red-400": contribution.data.status === "closed",
                      },
                    ]}
                  >
                    <Icon
                      name="pull-request"
                      class="size-[1em] flex-none"
                      aria-label={`PR is ${contribution.data.status}`}
                    />
                  </span>
                  <h3 class="mr-auto font-medium tracking-tight">{repo}</h3>
                </header>
                <p class="text-muted-foreground mt-2 text-pretty">
                  {contribution.data.description}
                </p>
              </div>
              <ExternalLink href={contribution.data.link} text="View PR" />
            </li>
          );
        })
      }
    </ul>
  </section>
</BaseLayout>
