---
import { Code } from "astro:components";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { slugify } from "@/utils/formatting";

const signInCode = `import * as SignIn from '@clerk/elements/sign-in'
import * as Common from '@clerk/elements/common'

export default function SignInPage() {
  return (
    <SignIn.Root>
      <SignIn.Step name="start">
        <h1>Sign in to Acme Co</h1>
        <p>Welcome back! Please sign in to continue</p>
        <Common.Connection name="google">Google</Common.Connection>
        <Common.Connection name="github">GitHub</Common.Connection>
        <p>or</p>
        <Common.Field>
          <Common.Label>Email address</Common.Label>
          <Common.Input />
        </Common.Field>
      </SignIn.Step>
    </SignIn.Root>
  )
}`;
---

<BaseLayout>
  <header
    class="relative text-center py-10 sm:py-16 px-4 sm:px-8 border-b border-neutral-700"
  >
    <p
      class="hidden md:flex pl-4 absolute left-0 justify-center inset-y-8 -translate-x-full items-center [writing-mode:vertical-lr] rotate-180"
    >
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
      <span
        class="relative w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span
        class="py-4 font-mono uppercase text-neutral-700 text-xxs leading-none"
        >Intro</span
      >
      <span
        class="w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
    </p>
    <h1 class="text-sm text-neutral-400 font-mono">Alex Carpenter</h1>
    <p class="mt-2 font-medium text-xl sm:text-2xl text-balance tracking-tight">
      User Interface Engineer who enjoys working at the intersection of design
      and engineering teams.
    </p>
  </header>

  <section class="relative">
    <p
      class="hidden md:flex pl-4 absolute left-0 justify-center inset-y-8 -translate-x-full items-center [writing-mode:vertical-lr] rotate-180"
    >
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
      <span
        class="relative w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span
        class="py-4 font-mono uppercase text-neutral-700 text-xxs leading-none"
        >Currently</span
      >
      <span
        class="w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
    </p>
    <header class="relative p-4 sm:p-8">
      <p class="text-balance font-medium">
        Currently I am a part of the design team at <a
          href="https://clerk.com"
          class="underline decoration-2 decoration-neutral-600 hover:decoration-white"
          >Clerk</a
        > where I am working on <a
          href="https://clerk.com/docs/elements/overview"
          class="underline decoration-2 decoration-neutral-600 hover:decoration-white"
          >Elements</a
        > and rebuilding our <a
          href="https://clerk.com/docs/components/overview"
          class="underline decoration-2 decoration-neutral-600 hover:decoration-white"
          >UI Components</a
        >.
      </p>
    </header>

    <div
      class="border-y border-neutral-700 border-dashed grid grid-cols-1 sm:grid-cols-2 auto-rows-[20rem]"
    >
      <div class="sm:border-r border-dashed border-neutral-700 overflow-hidden">
        <figure class="relative">
          <figcaption class="sr-only">TODO: Add description of code</figcaption>
          <div inert="">
            <Code code={signInCode} lang="tsx" theme="github-dark-default" />
          </div>
        </figure>
      </div>

      <div class="max-sm:border-t border-dashed border-neutral-700">
        <div
          class:list={[
            "h-full relative overflow-hidden pt-8 px-4 sm:p-0 bg-neutral-900 [--clip-offset:0%]",
            // "sm:hover:[--clip-offset:100%]",
          ]}
        >
          <div
            class="relative sm:absolute mx-auto max-w-96 sm:min-w-full sm:translate-x-10 sm:translate-y-10"
          >
            <div
              class:list={[
                "absolute h-px border-t border-dashed border-neutral-700 -top-0.5",
                "w-screen left-1/2 right-1/2 ml-[-50vw] mr-[-50vw]",
              ]}
              aria-hidden="true"
            >
            </div>
            <div
              class="absolute h-full w-px -top-10 -left-0.5 bottom-0 border-l border-dashed border-neutral-700 cursor-ew-resize"
              aria-hidden="true"
            >
            </div>
            <div
              class="absolute h-full w-px -top-10 -right-0.5 bottom-0 border-r border-dashed border-neutral-700"
              aria-hidden="true"
            >
            </div>

            <div class="grid *:[grid-area:1/1]">
              <figure
                class="bg-white rounded-2xl overflow-hidden w-full px-4 py-8 sm:px-8 shadow-xl duration-300 transition-all ease-in-out [clip-path:inset(0_0_0_var(--clip-offset))]"
                inert=""
              >
                <header
                  class="flex flex-col justify-center items-center text-center"
                >
                  <div
                    class="bg-neutral-700 size-8 rounded-md grid place-content-center"
                  >
                    <div class="size-4 bg-white rounded-full"></div>
                  </div>
                  <p class="mt-6 font-semibold text-[#131316]">
                    Sign in to Acme Co
                  </p>
                  <p class="mt-1 text-[#747686] text-xs">
                    Welcome back! Please sign in to continue
                  </p>
                </header>

                <div class="space-y-6 mt-6">
                  <div class="grid grid-cols-2 gap-x-4">
                    <button
                      style="box-shadow: 0px 0px 0px 1px rgba(25, 28, 33, 0.08), 0px 1px 0px 0px rgba(25, 28, 33, 0.02), 0px 2px 3px -1px rgba(0, 0, 0, 0.08);"
                      class="h-[1.875rem] px-2 text-[#42434D] text-sm font-medium rounded-md flex items-center justify-center gap-2"
                      ><svg viewBox="0 0 20 20" class="size-4"
                        ><path
                          d="M13.6589 5.87932C12.7223 4.98599 11.4723 4.49932 10.1789 4.51932C7.81227 4.51932 5.80227 6.11599 5.0856 8.26599C4.70581 9.39246 4.70582 10.6122 5.08572 11.7386H5.08893C5.80893 13.8853 7.8156 15.4819 10.1823 15.4819C11.404 15.4819 12.4528 15.1694 13.2657 14.6175V14.6149C14.2224 13.9816 14.8757 12.9849 15.079 11.8582H10.179V8.36491H18.7357C18.8424 8.97157 18.8924 9.59157 18.8924 10.2082C18.8924 12.9676 17.9062 15.3004 16.1903 16.8804L16.1923 16.8819C14.6889 18.2686 12.6256 19.0719 10.1789 19.0719C6.74893 19.0719 3.61227 17.1386 2.07227 14.0753C0.785755 11.512 0.785807 8.49194 2.07242 5.92871C3.61253 2.8624 6.74916 0.929322 10.1789 0.929322C12.4323 0.902656 14.6089 1.74932 16.2489 3.28932L13.6589 5.87932Z"
                          fill="currentColor"></path></svg
                      >Google</button
                    >
                    <button
                      style="box-shadow: 0px 0px 0px 1px rgba(25, 28, 33, 0.08), 0px 1px 0px 0px rgba(25, 28, 33, 0.02), 0px 2px 3px -1px rgba(0, 0, 0, 0.08);"
                      class="h-[1.875rem] px-2 text-[#42434D] text-sm font-medium rounded-md flex items-center justify-center gap-2"
                      ><svg viewBox="0 0 20 20" class="size-4"
                        ><path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M10 0.24707C4.475 0.24707 0 4.72207 0 10.2471C0 14.6721 2.8625 18.4096 6.8375 19.7346C7.3375 19.8221 7.525 19.5221 7.525 19.2596C7.525 19.0221 7.5125 18.2346 7.5125 17.3971C5 17.8596 4.35 16.7846 4.15 16.2221C4.0375 15.9346 3.55 15.0471 3.125 14.8096C2.775 14.6221 2.275 14.1596 3.1125 14.1471C3.9 14.1346 4.4625 14.8721 4.65 15.1721C5.55 16.6846 6.9875 16.2596 7.5625 15.9971C7.65 15.3471 7.9125 14.9096 8.2 14.6596C5.975 14.4096 3.65 13.5471 3.65 9.72207C3.65 8.63457 4.0375 7.73457 4.675 7.03457C4.575 6.78457 4.225 5.75957 4.775 4.38457C4.775 4.38457 5.6125 4.12207 7.525 5.40957C8.325 5.18457 9.175 5.07207 10.025 5.07207C10.875 5.07207 11.725 5.18457 12.525 5.40957C14.4375 4.10957 15.275 4.38457 15.275 4.38457C15.825 5.75957 15.475 6.78457 15.375 7.03457C16.0125 7.73457 16.4 8.62207 16.4 9.72207C16.4 13.5596 14.0625 14.4096 11.8375 14.6596C12.2 14.9721 12.5125 15.5721 12.5125 16.5096C12.5125 17.8471 12.5 18.9221 12.5 19.2596C12.5 19.5221 12.6875 19.8346 13.1875 19.7346C17.1375 18.4096 20 14.6596 20 10.2471C20 4.72207 15.525 0.24707 10 0.24707Z"
                          fill="currentColor"></path></svg
                      >Github</button
                    >
                  </div>

                  <p
                    class="before:bg-black/10 after:bg-black/10 text-[#5E5F6E] text-sm flex items-center gap-x-4 before:h-px before:flex-1 after:h-px after:flex-1"
                  >
                    or
                  </p>

                  <div>
                    <label class="text-sm font-medium text-[#42434D]"
                      >Email address</label
                    >
                    <input
                      type="text"
                      class="mt-2 w-full h-[1.875rem] px-2 text-[#42434D] text-sm rounded-md bg-white"
                      placeholder="example@email.com"
                      style="box-shadow: 0px 0px 0px 1px rgba(25, 28, 33, 0.10), 0px 1px 1px 0px rgba(25, 28, 33, 0.06);"
                    />
                  </div>

                  <button
                    class:list={[
                      "w-full text-sm font-medium rounded-md px-2 h-[1.875rem]",
                    ]}
                    style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%), var(--Primary, #2F3037);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.24), 0px 2px 3px 0px rgba(34, 42, 53, 0.20), 0px 1px 1px 0px rgba(255, 255, 255, 0.07), 0px 0px 0px 1px #2F3037;"
                    >Continue</button
                  >
                </div>
              </figure>

              <figure
                class="bg-[#212126] rounded-2xl overflow-hidden w-full px-4 py-8 sm:px-8 shadow-xl"
                inert=""
              >
                <header
                  class="flex flex-col justify-center items-center text-center"
                >
                  <div
                    class="bg-[#D9D9DE] size-8 rounded-md grid place-content-center"
                  >
                    <div class="size-4 bg-[#212126] rounded-full"></div>
                  </div>
                  <p class="mt-6 font-semibold text-white">
                    Sign in to Acme Co
                  </p>
                  <p class="mt-1 text-[#9394A1] text-xs">
                    Welcome back! Please sign in to continue
                  </p>
                </header>

                <div class="space-y-6 mt-6">
                  <div class="grid grid-cols-2 gap-x-4">
                    <button
                      style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), var(--Gray-gray-900, #212126);
box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px #212126, 0px 2px 3px -1px rgba(0, 0, 0, 0.40);"
                      class="h-[1.875rem] px-2 text-[#9394A1] text-sm font-medium rounded-md flex items-center justify-center gap-2"
                      ><svg viewBox="0 0 20 20" class="size-4"
                        ><path
                          d="M13.6589 5.87932C12.7223 4.98599 11.4723 4.49932 10.1789 4.51932C7.81227 4.51932 5.80227 6.11599 5.0856 8.26599C4.70581 9.39246 4.70582 10.6122 5.08572 11.7386H5.08893C5.80893 13.8853 7.8156 15.4819 10.1823 15.4819C11.404 15.4819 12.4528 15.1694 13.2657 14.6175V14.6149C14.2224 13.9816 14.8757 12.9849 15.079 11.8582H10.179V8.36491H18.7357C18.8424 8.97157 18.8924 9.59157 18.8924 10.2082C18.8924 12.9676 17.9062 15.3004 16.1903 16.8804L16.1923 16.8819C14.6889 18.2686 12.6256 19.0719 10.1789 19.0719C6.74893 19.0719 3.61227 17.1386 2.07227 14.0753C0.785755 11.512 0.785807 8.49194 2.07242 5.92871C3.61253 2.8624 6.74916 0.929322 10.1789 0.929322C12.4323 0.902656 14.6089 1.74932 16.2489 3.28932L13.6589 5.87932Z"
                          fill="currentColor"></path></svg
                      >Google</button
                    >
                    <button
                      style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), var(--Gray-gray-900, #212126);
box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px #212126, 0px 2px 3px -1px rgba(0, 0, 0, 0.40);"
                      class="h-[1.875rem] px-2 text-[#9394A1] text-sm font-medium rounded-md flex items-center justify-center gap-2"
                      ><svg viewBox="0 0 20 20" class="size-4"
                        ><path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M10 0.24707C4.475 0.24707 0 4.72207 0 10.2471C0 14.6721 2.8625 18.4096 6.8375 19.7346C7.3375 19.8221 7.525 19.5221 7.525 19.2596C7.525 19.0221 7.5125 18.2346 7.5125 17.3971C5 17.8596 4.35 16.7846 4.15 16.2221C4.0375 15.9346 3.55 15.0471 3.125 14.8096C2.775 14.6221 2.275 14.1596 3.1125 14.1471C3.9 14.1346 4.4625 14.8721 4.65 15.1721C5.55 16.6846 6.9875 16.2596 7.5625 15.9971C7.65 15.3471 7.9125 14.9096 8.2 14.6596C5.975 14.4096 3.65 13.5471 3.65 9.72207C3.65 8.63457 4.0375 7.73457 4.675 7.03457C4.575 6.78457 4.225 5.75957 4.775 4.38457C4.775 4.38457 5.6125 4.12207 7.525 5.40957C8.325 5.18457 9.175 5.07207 10.025 5.07207C10.875 5.07207 11.725 5.18457 12.525 5.40957C14.4375 4.10957 15.275 4.38457 15.275 4.38457C15.825 5.75957 15.475 6.78457 15.375 7.03457C16.0125 7.73457 16.4 8.62207 16.4 9.72207C16.4 13.5596 14.0625 14.4096 11.8375 14.6596C12.2 14.9721 12.5125 15.5721 12.5125 16.5096C12.5125 17.8471 12.5 18.9221 12.5 19.2596C12.5 19.5221 12.6875 19.8346 13.1875 19.7346C17.1375 18.4096 20 14.6596 20 10.2471C20 4.72207 15.525 0.24707 10 0.24707Z"
                          fill="currentColor"></path></svg
                      >Github</button
                    >
                  </div>

                  <p
                    class="before:bg-white/10 after:bg-white/10 text-[#9394A1] text-sm flex items-center gap-x-4 before:h-px before:flex-1 after:h-px after:flex-1"
                  >
                    or
                  </p>

                  <div>
                    <label class="text-sm font-medium text-[#D9D9DE]"
                      >Email address</label
                    >
                    <input
                      type="text"
                      class="mt-2 w-full h-[1.875rem] px-2 bg-[#26262B] text-[#D9D9DE] text-sm rounded-md"
                      placeholder="example@email.com"
                      style="box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.04), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px #212126, 0px 2px 3px -1px rgba(0, 0, 0, 0.40);"
                    />
                  </div>

                  <button
                    class:list={[
                      "w-full text-[#131316] text-sm font-medium rounded-md px-2 h-[1.875rem]",
                    ]}
                    style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.10) 100%), var(--Gray-gray-100, #EEEEF0);
box-shadow: 0px -1px 0px 0px #FFF, 0px 1px 1px 0px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px #EDEFF2, 0px 1.5px 2px 0px rgba(0, 0, 0, 0.56);"
                    >Continue</button
                  >
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-4 sm:p-8 text-center">
      <p class="text-xs font-mono uppercase text-neutral-400">
        In collaboration with
      </p>
      <div class="flex justify-center mt-4">
        {
          [
            {
              name: "Joe Bell",
              img: "/img/joe-bell.jpeg",
              linkedin: "https://www.linkedin.com/in/joebell93/",
            },
            {
              name: "Bryce Kalow",
              img: "/img/bryce-kalow.jpeg",
              linkedin: "https://www.linkedin.com/in/bryce-kalow-86a57183/",
            },
            {
              name: "Tom Milewski",
              img: "/img/tom-milewski.jpeg",
              linkedin: "https://www.linkedin.com/in/tmilewski/",
            },
            {
              name: "Dylan Staley",
              img: "/img/dylan-staley.jpeg",
              linkedin: "https://www.linkedin.com/in/dstaley/",
            },
          ].map(({ name, img, linkedin }) => {
            const id = slugify(`tooltip-${name}`);
            return (
              <Fragment>
                <a
                  href={linkedin}
                  data-tooltip-trigger={id}
                  class="relative size-8 rounded-full -ml-0.5 ring-4 ring-neutral-950 grayscale hover:grayscale-0 overflow-hidden"
                  aria-describedby={id}
                >
                  <img
                    src={img}
                    alt={`${name} avatar`}
                    class="w-full h-full absolute object-cover"
                  />
                </a>
                <div
                  id={id}
                  role="tooltip"
                  class="bg-neutral-800 px-2 py-1 rounded-md text-xs font-mono w-max absolute top-0 left-0 hidden"
                >
                  {name}
                </div>
              </Fragment>
            );
          })
        }
      </div>
    </div>
  </section>
  <!-- <div
    class="w-full h-6 opacity-75 [background-image:linear-gradient(45deg,theme(colors.neutral.700)_12.50%,transparent_12.50%,transparent_50%,theme(colors.neutral.700)_50%,theme(colors.neutral.700)_62.50%,transparent_62.50%,transparent_100%)] [background-size:4px_4px]"
    aria-hidden="true"
  >
  </div> -->
  <!-- <section class="border-t border-neutral-700">
    <div class="p-8">
      <p class="max-w-prose">
        Alex is an excellent teammate and an exceptionally talented web
        developer. When he joined the team we gained an <mark
          >incredibly strong collaborator</mark
        >. His thoughtful approach to both producing work and <mark
          >actively reviewing code instantly improved the entire teams workflow</mark
        >. It is clear that Alex is a life long learner and therefore is always
        sure to bring a new, novel approach to solve a problem.
      </p>
    </div>
  </section> -->
</BaseLayout>

<script>
  import { computePosition, flip, shift, offset } from "@floating-ui/dom";

  const triggers = document.querySelectorAll(
    "[data-tooltip-trigger]"
  ) as NodeListOf<HTMLElement>;

  triggers.forEach((trigger) => {
    const content = document.getElementById(
      `${trigger.dataset.tooltipTrigger}`
    ) as HTMLElement;
    function update() {
      computePosition(trigger, content, {
        placement: "top",
        middleware: [
          offset(8),
          flip(),
          shift({
            padding: 16,
          }),
        ],
      }).then(({ x, y }) => {
        Object.assign(content.style, {
          left: `${x}px`,
          top: `${y}px`,
        });
      });
    }

    function show() {
      content.style.display = "block";
      update();
    }

    function hide() {
      content.style.display = "";
    }

    [
      ["mouseenter", show],
      ["mouseleave", hide],
      ["focus", show],
      ["blur", hide],
      [
        "keydown",
        (e: KeyboardEvent) => {
          if (e.key === "Escape") {
            hide();
          }
        },
      ],
    ].forEach(([event, listener]) => {
      trigger.addEventListener(
        event as keyof HTMLElementEventMap,
        listener as EventListenerOrEventListenerObject
      );
    });
  });
</script>
