---
import { Image } from "astro:assets";
import FormattedDate from "@/components/FormattedDate.astro";
import SectionLabel from "@/components/SectionLabel.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { slugify } from "@/utils/formatting";
import SignInCodeBlock from "@/components/SignInCodeBlock.astro";
import SignInCard from "@/components/SignInCard.astro";

import { fetchLatestPullRequests } from "@/utils/fetch-latest-pull-reqests.ts";

// import avatar from "@/images/me.jpg";
import joeBellAvatar from "@/images/joe-bell.jpeg";
import bryceKalowAvatar from "@/images/bryce-kalow.jpeg";
import tomMilewskiAvatar from "@/images/tom-milewski.jpeg";
import dylanStaleyAvatar from "@/images/dylan-staley.jpeg";

const pullRequests = import.meta.env.PROD
  ? await fetchLatestPullRequests({
      repoOwner: "clerk",
      repoName: "javascript",
      username: "alexcarpenter",
    })
  : [
      {
        message: "Hello world",
        date: new Date(),
        url: "https://github.com/alexcarpenter/alexcarpenter/pull/1",
      },
      {
        message: "Hello world",
        date: new Date(),
        url: "https://github.com/alexcarpenter/alexcarpenter/pull/1",
      },
      {
        message: "Hello world",
        date: new Date(),
        url: "https://github.com/alexcarpenter/alexcarpenter/pull/1",
      },
      {
        message: "Hello world",
        date: new Date(),
        url: "https://github.com/alexcarpenter/alexcarpenter/pull/1",
      },
      {
        message: "Hello world",
        date: new Date(),
        url: "https://github.com/alexcarpenter/alexcarpenter/pull/1",
      },
    ];
---

<BaseLayout>
  <header class="relative px-4 py-12 text-center sm:px-8 sm:py-16">
    <SectionLabel as="p">Intro</SectionLabel>
    <!-- <div class="relative mx-auto mb-2 size-8">
      <div
        class="absolute right-0 top-0 z-10 size-1.5 rounded-full bg-green-500 ring-2 ring-neutral-950"
      >
      </div>
      <Image
        src={avatar}
        alt="Alex Carpenter"
        width={128}
        height={128}
        class="size-8 rounded-full"
        data-tooltip-trigger="status"
      />
      <div
        id="status"
        role="tooltip"
        class="absolute left-0 top-0 hidden w-max max-w-80 rounded-md bg-neutral-800 px-2 py-1 text-left"
      >
        <p class="text-xs">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, qui!
        </p>
        <FormattedDate
          class="mt-0.5 block text-xxs text-neutral-400"
          date={new Date()}
          type="datetime"
        />
      </div>
    </div> -->
    <h1 class="font-mono text-sm text-neutral-400">Alex Carpenter</h1>
    <p class="mt-2 text-balance text-xl font-medium tracking-tight sm:text-2xl">
      User Interface Engineer who enjoys working at the intersection of design
      and engineering teams.
    </p>
    <!-- <Button href="/resume" as="a">View resume</Button> -->
  </header>

  <div
    class="h-6 w-full border-y border-neutral-700 opacity-75 [background-image:linear-gradient(45deg,theme(colors.neutral.700)_12.50%,transparent_12.50%,transparent_50%,theme(colors.neutral.700)_50%,theme(colors.neutral.700)_62.50%,transparent_62.50%,transparent_100%)] [background-size:4px_4px]"
    aria-hidden="true"
  >
  </div>

  <section class="relative" id="currently">
    <SectionLabel>Currently</SectionLabel>
    <header class="px-4 py-8 sm:px-8">
      <p class="text-balance font-medium">
        Currently I am a part of the design team at <a
          href="https://clerk.com"
          class="underline decoration-neutral-600 decoration-2 hover:decoration-white"
          >Clerk</a
        > where I am working on <a
          href="https://clerk.com/docs/elements/overview"
          class="underline decoration-neutral-600 decoration-2 hover:decoration-white"
          >Elements</a
        > and rebuilding our <a
          href="https://clerk.com/docs/components/overview"
          class="underline decoration-neutral-600 decoration-2 hover:decoration-white"
          >UI Components</a
        >.
      </p>
    </header>

    <div
      class="grid auto-rows-[20rem] grid-cols-1 border-y border-dashed border-neutral-700 sm:grid-cols-2"
    >
      <div
        class="relative overflow-hidden border-dashed border-neutral-700 sm:border-r"
      >
        <figure class="relative">
          <figcaption class="sr-only">
            Codeblock showing Clerk Elements sign in code example
          </figcaption>
          <div inert="">
            <SignInCodeBlock />
          </div>
        </figure>
        <span
          class="absolute inset-x-0 bottom-0 h-8 bg-gradient-to-t from-neutral-950 to-transparent"
          aria-hidden="true"></span>
      </div>

      <div class="border-dashed border-neutral-700 max-sm:border-t">
        <div
          class="relative h-full overflow-hidden bg-neutral-900 px-4 pt-8 sm:p-0"
        >
          <div
            class="relative mx-auto max-w-96 sm:absolute sm:min-w-full sm:translate-x-10 sm:translate-y-10"
          >
            <div
              class:list={[
                "absolute -top-0.5 h-px border-t border-dashed border-neutral-700",
                "left-1/2 right-1/2 ml-[-50vw] mr-[-50vw] w-screen",
              ]}
              aria-hidden="true"
            >
            </div>
            <div
              class="absolute -left-0.5 -top-10 bottom-0 h-full w-px cursor-ew-resize border-l border-dashed border-neutral-700"
              aria-hidden="true"
            >
            </div>
            <div
              class="absolute -right-0.5 -top-10 bottom-0 h-full w-px border-r border-dashed border-neutral-700"
              aria-hidden="true"
            >
            </div>

            <figure>
              <figcaption class="sr-only">Clerk sign in component</figcaption>
              <SignInCard />
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 py-8 sm:px-8">
      <div class="relative">
        <ul
          class="mx-auto max-w-lg divide-y divide-dashed divide-neutral-600 text-left [mask-image:linear-gradient(to_bottom,theme(colors.white),transparent)]"
        >
          {
            pullRequests.map((pr) => {
              return (
                <li class="grid grid-cols-[theme(spacing.4)_1fr_max-content] gap-2 py-2">
                  <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="mt-0.5 size-4 text-neutral-600"
                    aria-hidden="true"
                  >
                    <>
                      <circle cx="5" cy="6" r="3" />
                      <path d="M5 9v12" />
                      <circle cx="19" cy="18" r="3" />
                      <path d="m15 9-3-3 3-3" />
                      <path d="M12 6h5a2 2 0 0 1 2 2v7" />
                    </>
                  </svg>
                  <p class="text-sm text-neutral-300">{pr.message}</p>
                  <FormattedDate
                    date={new Date(pr.date)}
                    class="ml-auto mt-0.5 block text-nowrap text-right font-mono text-xs uppercase text-neutral-600"
                  />
                </li>
              );
            })
          }
        </ul>
        <div
          class="z-1 pointer-events-none absolute bottom-0 left-1/2 isolate h-56 w-4/5 -translate-x-1/2 translate-y-24"
          aria-hidden="true"
        >
          {
            Array.from({ length: 5 }, (_, i) => {
              const blur = `blur(${Math.pow(2, i - 1)}px)`;
              return (
                <div
                  style={{
                    WebkitBackdropFilter: blur,
                    backdropFilter: blur,
                  }}
                  class="absolute inset-0 rotate-180 [mask-image:radial-gradient(closest-side,black,transparent)] [mask-position:bottom,center] [mask-repeat:no-repeat]"
                />
              );
            })
          }
        </div>
        <div class="absolute bottom-0 left-0 right-0 text-center">
          <p class="font-mono text-xs uppercase text-white">
            In collaboration with
          </p>
          <div class="mt-4 flex justify-center">
            {
              [
                {
                  name: "Joe Bell",
                  img: joeBellAvatar,
                  linkedin: "https://www.linkedin.com/in/joebell93/",
                },
                {
                  name: "Bryce Kalow",
                  img: bryceKalowAvatar,
                  linkedin: "https://www.linkedin.com/in/bryce-kalow-86a57183/",
                },
                {
                  name: "Tom Milewski",
                  img: tomMilewskiAvatar,
                  linkedin: "https://www.linkedin.com/in/tmilewski/",
                },
                {
                  name: "Dylan Staley",
                  img: dylanStaleyAvatar,
                  linkedin: "https://www.linkedin.com/in/dstaley/",
                },
              ].map(({ name, img, linkedin }) => {
                const id = slugify(`tooltip-${name}`);
                return (
                  <Fragment>
                    <a
                      href={linkedin}
                      data-tooltip-trigger={id}
                      class="relative -ml-0.5 size-8 overflow-hidden rounded-full bg-neutral-800 ring-4 ring-neutral-950 grayscale hover:grayscale-0"
                      aria-describedby={id}
                    >
                      <Image
                        src={img}
                        alt={`${name} avatar`}
                        width={128}
                        height={128}
                        class="absolute h-full w-full object-cover"
                      />
                    </a>
                    <div
                      id={id}
                      role="tooltip"
                      class="absolute left-0 top-0 hidden w-max rounded-md bg-neutral-800 px-2 py-1 font-mono text-xs"
                    >
                      {name}
                    </div>
                  </Fragment>
                );
              })
            }
          </div>
        </div>
      </div>
    </div>
  </section>

  <div
    class="h-6 w-full border-y border-neutral-700 opacity-75 [background-image:linear-gradient(45deg,theme(colors.neutral.700)_12.50%,transparent_12.50%,transparent_50%,theme(colors.neutral.700)_50%,theme(colors.neutral.700)_62.50%,transparent_62.50%,transparent_100%)] [background-size:4px_4px]"
    aria-hidden="true"
  >
  </div>

  <div class="relative flex-1">
    <div
      class="absolute inset-y-0 left-1/2 hidden border-r border-dashed border-neutral-700 sm:block"
      aria-hidden="true"
    >
    </div>
    <section class="relative px-4 py-8 sm:px-8" id="currently">
      <SectionLabel>Interests</SectionLabel>
      <div class="grid grid-cols-1 gap-x-16 gap-y-8 sm:grid-cols-2">
        <div class="prose">
          <p>
            With over a decade of experience as a UI engineer, I've had the
            privilege of collaborating across engineering, design, and marketing
            teams. My passion lies in working with product and marketing teams,
            where I can leverage my technical expertise to create impactful user
            experiences and drive business goals.
          </p>
        </div>
        <div class="flex items-center">
          <div>
            <p class="mb-4 font-mono text-xs uppercase text-neutral-400">
              Skills and interests
            </p>
            <ul>
              {
                [
                  "Next.js",
                  "Tailwind CSS",
                  "Framer Motion",
                  "Astro",
                  "Accessibility",
                  "Mentorship",
                  "CSS Architecture",
                  "Component API Design",
                ].map((i) => {
                  return (
                    <li class="inline">
                      <span class="tag leading-relaxed">{i}</span>
                    </li>
                  );
                })
              }
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</BaseLayout>

<script>
  import { computePosition, flip, shift, offset } from "@floating-ui/dom";

  const triggers = document.querySelectorAll(
    "[data-tooltip-trigger]"
  ) as NodeListOf<HTMLElement>;

  triggers.forEach((trigger) => {
    const content = document.getElementById(
      `${trigger.dataset.tooltipTrigger}`
    ) as HTMLElement;
    function update() {
      computePosition(trigger, content, {
        placement: "top",
        middleware: [
          offset(8),
          flip(),
          shift({
            padding: 16,
          }),
        ],
      }).then(({ x, y }) => {
        Object.assign(content.style, {
          left: `${x}px`,
          top: `${y}px`,
        });
      });
    }

    function show() {
      content.style.display = "block";
      update();
    }

    function hide() {
      content.style.display = "";
    }

    [
      ["mouseenter", show],
      ["mouseleave", hide],
      ["focus", show],
      ["blur", hide],
      [
        "keydown",
        (e: KeyboardEvent) => {
          if (e.key === "Escape") {
            hide();
          }
        },
      ],
    ].forEach(([event, listener]) => {
      trigger.addEventListener(
        event as keyof HTMLElementEventMap,
        listener as EventListenerOrEventListenerObject
      );
    });
  });
</script>
