---
import BaseLayout from "@/layouts/BaseLayout.astro";

const watching = [
  {
    title: "Dark Matter",
  },
];

const listening = [
  {
    artist: "Tycho",
  },
  {
    artist: "Ben Howard",
  },
  {
    artist: "Sturgill Simpson",
  },
];

const reading = [
  {
    title: "Challenger",
    subtitle: "A True Story of Heroism and Disaster on the Edge of Space",
    author: "Adam Higginbotham",
    cover: "/img/book-challenger.jpg",
  },
  {
    title: "Project Hail Mary",
    author: "Andy Weir",
    cover: "/img/book-project-hail-mary.jpg",
  },
];
---

<BaseLayout
  title="Now"
  description="UI engineer who enjoys working at the intersection of design and engineering teams."
>
  <header
    class="relative bg-[image:radial-gradient(at_top_left,theme(colors.blue.500/30%),transparent_60%)] px-4 py-12 text-center sm:px-8 sm:py-16"
  >
    <!-- <SectionLabel as="p">Intro</SectionLabel> -->
    <h1 class="font-mono text-sm text-neutral-400">Now</h1>
    <p class="mt-2 text-balance text-xl font-medium tracking-tight sm:text-2xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis
      aliquam architecto eaque.
    </p>
  </header>

  <div
    class="h-6 w-full border-y border-neutral-700 opacity-75 [background-image:linear-gradient(45deg,theme(colors.neutral.700)_12.50%,transparent_12.50%,transparent_50%,theme(colors.neutral.700)_50%,theme(colors.neutral.700)_62.50%,transparent_62.50%,transparent_100%)] [background-size:4px_4px]"
    aria-hidden="true"
  >
  </div>

  <section class="relative">
    <!-- <SectionLabel as="h2">Latest</SectionLabel> -->

    <div class="grid sm:grid-cols-2">
      <article
        class="border-b border-dashed border-neutral-700 px-4 py-8 sm:border-r sm:px-8"
      >
        <h2 class="text-lg font-medium">Watching&nbsp;&not;</h2>
        <ul class="mt-4 space-y-4">
          {
            watching.map((w, i) => {
              return (
                <li class="flex gap-4">
                  <div class="size-8 rounded-full bg-neutral-800" />
                  <div
                    class:list={[
                      "mt-1 flex-1",
                      i !== watching.length - 1 &&
                        "border-b border-dashed border-neutral-800 pb-4",
                    ]}
                  >
                    <h3 class="font-medium">{w.title}</h3>
                  </div>
                </li>
              );
            })
          }
        </ul>
      </article>
      <article
        class="border-b border-dashed border-neutral-700 px-4 py-8 sm:px-8"
      >
        <h2 class="text-lg font-medium">Listening&nbsp;&not;</h2>
        <ul class="mt-4 space-y-4">
          {
            listening.map((l, i) => {
              return (
                <li class="flex gap-4">
                  <div class="size-8 rounded-full bg-neutral-800" />
                  <div
                    class:list={[
                      "mt-1 flex-1",
                      i !== listening.length - 1 &&
                        "border-b border-dashed border-neutral-800 pb-4",
                    ]}
                  >
                    <h3 class="font-medium">{l.artist}</h3>
                  </div>
                </li>
              );
            })
          }
        </ul>
      </article>
    </div>

    <article class="px-4 py-8 sm:px-8">
      <h2 class="text-lg font-medium">Reading&nbsp;&not;</h2>
      <ul class="mt-4 grid gap-x-4 gap-y-8 sm:grid-cols-3">
        {
          reading.map((b) => {
            return (
              <li>
                <article class="grid grid-cols-[theme(space.20)_1fr] gap-4 sm:grid-cols-1">
                  <div class="relative sm:flex sm:size-40 sm:items-end">
                    <img
                      src={b.cover}
                      alt={`${b.title} book cover`}
                      class="max-h-full max-w-full border border-neutral-800"
                    />
                  </div>
                  <div>
                    <h3 class="mb-0.5 font-medium">{b.title}</h3>
                    {b.subtitle && (
                      <p class="mb-2 text-sm text-neutral-400">{b.subtitle}</p>
                    )}
                    <p class="text-sm text-neutral-400">by {b.author}</p>
                  </div>
                </article>
              </li>
            );
          })
        }
      </ul>
    </article>
  </section>
</BaseLayout>
