---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
type JobProps = CollectionEntry<"jobs">;
const jobs = await getCollection("jobs");
type RecommendationProps = CollectionEntry<"recommendations">;
const recommendations = await getCollection("recommendations");
import { parseYearToString } from "@/components/FormattedDate.astro";
import { slugify } from "@/utils/formatting";
---

<BaseLayout
  title="Resume"
  description="UI engineer who enjoys working at the intersection of design and engineering teams."
>
  <header
    class="relative text-center py-10 sm:py-16 px-4 sm:px-8 border-b border-neutral-700"
  >
    <p
      class="hidden md:flex pl-4 absolute left-0 justify-center inset-y-8 -translate-x-full items-center [writing-mode:vertical-lr] rotate-180"
      aria-hidden="true"
    >
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
      <span
        class="relative w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span
        class="py-4 font-mono uppercase text-neutral-700 text-xxs leading-none"
        >Intro</span
      >
      <span
        class="w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
    </p>
    <h1 class="text-sm text-neutral-400 font-mono">Resume</h1>
    <p class="mt-2 font-medium text-xl sm:text-2xl text-balance tracking-tight">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis,
      magnam!
    </p>
  </header>

  <section id="experience" class="relative">
    <h2
      class="max-md:sr-only flex pl-4 absolute left-0 justify-center inset-y-8 -translate-x-full items-center [writing-mode:vertical-lr] rotate-180"
    >
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
      <span
        class="relative w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span
        class="py-4 font-mono uppercase text-neutral-700 text-xxs leading-none"
        >Experience</span
      >
      <span
        class="w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
    </h2>
    <ul class="divide-y divide-neutral-700 divide-dashed">
      {
        jobs
          .sort(
            (a, b) =>
              Date.parse(b.data.startDate.toString()) -
              Date.parse(a.data.startDate.toString())
          )
          .map((job: JobProps) =>
            job.render().then(({ Content }) => (
              <li class="py-8 px-4 sm:px-8">
                <header class="grid grid-cols-[2rem,minmax(0,1fr)] gap-x-4">
                  <img
                    src={`/logos/${slugify(job.data.company)}.svg`}
                    alt=""
                    class="relative size-8"
                  />
                  <div>
                    <h3 class="font-medium">
                      {job.data.title} at {job.data.company}
                    </h3>
                    <p class="mt-0.5 text-sm text-neutral-400">
                      {`${parseYearToString(job.data.startDate)}–${
                        job.data.endDate
                          ? parseYearToString(job.data.endDate)
                          : "Now"
                      }`}
                    </p>
                  </div>
                </header>
                <div class="mt-2 grid sm:grid-cols-3 gap-x-16 gap-y-2">
                  <div class="prose sm:col-span-2 pl-[calc(theme(spacing.8)+theme(spacing.4))]">
                    <Content />
                  </div>
                  <div class="sm:col-span-1 max-sm:pl-[calc(theme(spacing.8)+theme(spacing.4))]">
                    <ul class="list-square ml-3">
                      {job.data.tools.map((tool) => (
                        <li class="text-sm marker:text-neutral-700">{tool}</li>
                      ))}
                    </ul>
                  </div>
                </div>
              </li>
            ))
          )
      }
    </ul>
  </section>

  <div
    class="w-full h-6 opacity-75 [background-image:linear-gradient(45deg,theme(colors.neutral.700)_12.50%,transparent_12.50%,transparent_50%,theme(colors.neutral.700)_50%,theme(colors.neutral.700)_62.50%,transparent_62.50%,transparent_100%)] [background-size:4px_4px] border-y border-neutral-700"
    aria-hidden="true"
  >
  </div>

  <section id="recommendations" class="relative">
    <h2
      class="max-md:sr-only flex pl-4 absolute left-0 justify-center inset-y-8 -translate-x-full items-center [writing-mode:vertical-lr] rotate-180"
    >
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
      <span
        class="relative w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span
        class="py-4 font-mono uppercase text-neutral-700 text-xxs leading-none"
        >Recommendations</span
      >
      <span
        class="w-px h-full flex-1 border-l border-neutral-800 border-dashed"
        aria-hidden="true"></span>
      <span class="w-2 h-px bg-neutral-800" aria-hidden="true"></span>
    </h2>
    <ul class="divide-y divide-neutral-700 divide-dashed">
      {
        recommendations
          .sort(
            (a, b) =>
              Date.parse(b.data.published.toString()) -
              Date.parse(a.data.published.toString())
          )
          .filter(
            (recommendation: RecommendationProps) =>
              recommendation.data.visible !== false
          )
          .map((recommendation: RecommendationProps) =>
            recommendation.render().then(({ Content }) => {
              const { name, title, company } = recommendation.data;
              return (
                <li class="max-sm:py-8 max-sm:px-4">
                  <figure class="grid grid-cols-1 sm:grid-cols-3 gap-y-4">
                    <blockquote class="col-span-2 sm:col-start-2 sm:p-8 sm:border-l sm:border-neutral-800 sm:border-dashed">
                      <Content />
                    </blockquote>
                    <figcaption class="sm:col-span-1 sm:col-start-1 sm:row-start-1 sm:p-8">
                      <div class="flex mb-4">
                        {[
                          `/img/${slugify(company)}.svg`,
                          `/img/${slugify(name)}.jpeg`,
                        ].map((x, i) => {
                          return (
                            <img
                              src={x}
                              alt=""
                              class:list={[
                                "size-8 rounded-full ring-2 ring-neutral-950",
                                {
                                  "-ml-1": i > 0,
                                },
                              ]}
                            />
                          );
                        })}
                      </div>
                      <p class="font-medium">{name}</p>
                      <p class="mt-0.5 text-neutral-400 text-sm">
                        {title}
                        <br class="hidden sm:block" />
                        {company}
                      </p>
                    </figcaption>
                  </figure>
                </li>
              );
            })
          )
      }
    </ul>
  </section>

  <!-- <section class="py-8 border-t border-primary" id="experience">
    <h2 class="font-semibold mb-8">Experience</h2>
    <ul class="-my-8 divide-y divide-primary divide-dashed">
      {
        jobs
          .sort(
            (a, b) =>
              Date.parse(b.data.startDate.toString()) -
              Date.parse(a.data.startDate.toString())
          )
          .map((job: JobProps) =>
            job.render().then(({ Content }) => (
              <li class="py-8 grid sm:grid-cols-3 gap-x-8 gap-y-4">
                <header class="sm:col-span-3">
                  <h3 class="font-semibold">
                    {job.data.title} at {job.data.company}
                  </h3>
                  <p class="mt-0.5 text-sm text-secondary">
                    {`${parseYearToString(job.data.startDate)}–${
                      job.data.endDate
                        ? parseYearToString(job.data.endDate)
                        : "Now"
                    }`}
                  </p>
                </header>
                <div class="sm:col-span-2 prose">
                  <Content />
                </div>
                <ul class="pl-6 sm:pl-4 marker:text-subtle list-square">
                  {job.data.tools.map((tool: any) => (
                    <li>{tool}</li>
                  ))}
                </ul>
              </li>
            ))
          )
      }
    </ul>
  </section> -->
</BaseLayout>
