---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
// Jobs
type JobProps = CollectionEntry<"jobs">;
const jobs = await getCollection("jobs");
// Recommendations
type RecommendationProps = CollectionEntry<"recommendations">;
const recommendations = await getCollection("recommendations");
---

<BaseLayout
  title="Resume"
  description="UI engineer who enjoys working at the intersection of design and engineering teams."
>
  <header class="pb-8 pt-40">
    <h1 class="font-semibold">Resume</h1>
    <p class="text-neutral-500 mt-4 text-pretty">
      UI engineer who enjoys working at the intersection of design and
      engineering teams. Currently apart of the design team at Clerk.
    </p>
  </header>

  <section class="py-8 border-t border-neutral-200" id="experience">
    <h2 class="font-semibold mb-8">Experience</h2>
    <ul class="-my-8 divide-y divide-neutral-200 divide-dashed">
      {
        jobs
          .sort(
            (a, b) =>
              Date.parse(b.data.startDate.toString()) -
              Date.parse(a.data.startDate.toString())
          )
          .map((job: JobProps) =>
            job.render().then(({ Content }) => (
              <li class="py-8 grid grid-cols-3 gap-x-8 gap-y-4">
                <h3 class="col-span-3 font-semibold flex items-center gap-x-1">
                  {job.data.title} at {job.data.company}
                  {!job.data.endDate && (
                    <span class="text-green-500 text-xs uppercase font-mono px-1 py-px rounded-sm tracking-wider border border-green-500 bg-green-50">
                      Current
                    </span>
                  )}
                </h3>
                <div class="col-span-2 space-y-4">
                  <Content />
                </div>
                <ul class="pl-4 marker:text-gray-300 list-square">
                  {job.data.tools.map((tool) => (
                    <li>{tool}</li>
                  ))}
                </ul>
              </li>
            ))
          )
      }
    </ul>
  </section>

  <section class="py-8 border-t border-neutral-200" id="recommendations">
    <h2 class="font-semibold mb-8">Recommendations</h2>
    <ul class="-my-8 divide-y divide-neutral-200 divide-dashed">
      {
        recommendations.map((recommendation: RecommendationProps) =>
          recommendation.render().then(({ Content }) => (
            <li class="py-8">
              <figure>
                <blockquote>
                  <Content />
                </blockquote>
                <figcaption class="text-neutral-500 mt-4 text-right">
                  {recommendation.data.name}, {recommendation.data.title},{" "}
                  {recommendation.data.company}
                </figcaption>
              </figure>
            </li>
          ))
        )
      }
    </ul>
  </section>
</BaseLayout>
