---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
type JobProps = CollectionEntry<"jobs">;
const jobs = await getCollection("jobs");
type RecommendationProps = CollectionEntry<"recommendations">;
const recommendations = await getCollection("recommendations");
import { parseYearToString } from "@/components/FormattedDate.astro";
import { slugify } from "@/utils/formatting";
import SectionLabel from "@/components/SectionLabel.astro";
import Button from "@/components/Button.astro";
import { Icon } from "astro-icon/components";

const avatarMap = {
  "jimmy-merritello": import("@/images/jimmy-merritello.jpeg"),
  "amy-stuart": import("@/images/amy-stuart.jpeg"),
  "andrew-possehl": import("@/images/andrew-possehl.jpeg"),
  "danielle-dunn": import("@/images/danielle-dunn.jpeg"),
  "melissa-taylor": import("@/images/melissa-taylor.jpeg"),
  "kyle-luck": import("@/images/kyle-luck.jpeg"),
  "benjamin-kohl": import("@/images/benjamin-kohl.jpeg"),
};
---

<BaseLayout
  title="Resume"
  description="UI engineer who enjoys working at the intersection of design and engineering teams."
>
  <header class="relative px-4 py-12 text-center sm:px-8 sm:py-16">
    <SectionLabel as="p">Intro</SectionLabel>
    <h1 class="font-mono text-sm text-neutral-400">Resume</h1>
    <p class="mt-2 text-balance text-xl font-medium tracking-tight sm:text-2xl">
      User Interface Engineer who enjoys working at the intersection of design
      and engineering teams.
    </p>
    <Button
      as="a"
      href="https://www.linkedin.com/in/imalexcarpenter/"
      class="mt-6">View on LinkedIn</Button
    >
  </header>

  <div
    class="h-6 w-full border-y border-neutral-700 opacity-75 [background-image:linear-gradient(45deg,theme(colors.neutral.700)_12.50%,transparent_12.50%,transparent_50%,theme(colors.neutral.700)_50%,theme(colors.neutral.700)_62.50%,transparent_62.50%,transparent_100%)] [background-size:4px_4px]"
    aria-hidden="true"
  >
  </div>

  <section id="experience" class="relative">
    <SectionLabel>Experience</SectionLabel>
    <ul class="divide-y divide-dashed divide-neutral-700">
      {
        jobs
          .sort(
            (a, b) =>
              Date.parse(b.data.startDate.toString()) -
              Date.parse(a.data.startDate.toString())
          )
          .map((job: JobProps) =>
            job.render().then(({ Content }) => (
              <li class="grid gap-4 px-4 py-8 sm:grid-cols-[2rem,minmax(0,1fr)] sm:px-8">
                <img
                  src={`/logos/${slugify(job.data.company)}.svg`}
                  alt=""
                  class="relative size-8"
                />
                <div>
                  <h3 class="font-medium sm:mt-1.5">
                    {job.data.title} at {job.data.company}
                  </h3>
                  <p class="mb-4 mt-0.5 font-mono text-sm text-neutral-400">
                    {`${parseYearToString(job.data.startDate)}–${
                      job.data.endDate
                        ? parseYearToString(job.data.endDate)
                        : "Now"
                    }`}
                  </p>
                  <div class="grid gap-x-8 gap-y-4 sm:grid-cols-[minmax(0,2fr),1px,minmax(0,1fr)]">
                    <div class="prose">
                      <Content />
                    </div>
                    <div
                      aria-hidden="true"
                      class="hidden h-full w-px border-r border-dashed border-neutral-700 [mask-image:linear-gradient(to_bottom,theme(colors.white)_calc(100%_-_2rem),transparent)] sm:block"
                    />
                    <ul>
                      {job.data.tools.map((t) => {
                        return (
                          <li class="inline">
                            <span class="tag">{t}</span>
                          </li>
                        );
                      })}
                    </ul>
                  </div>
                </div>
              </li>
            ))
          )
      }
    </ul>
  </section>

  <div
    class="h-6 w-full border-y border-neutral-700 opacity-75 [background-image:linear-gradient(45deg,theme(colors.neutral.700)_12.50%,transparent_12.50%,transparent_50%,theme(colors.neutral.700)_50%,theme(colors.neutral.700)_62.50%,transparent_62.50%,transparent_100%)] [background-size:4px_4px]"
    aria-hidden="true"
  >
  </div>

  <section id="recommendations" class="relative">
    <SectionLabel>Recommendations</SectionLabel>
    <ul class="divide-y divide-dashed divide-neutral-700">
      {
        recommendations
          .sort(
            (a, b) =>
              Date.parse(b.data.published.toString()) -
              Date.parse(a.data.published.toString())
          )
          .filter(
            (recommendation: RecommendationProps) =>
              recommendation.data.visible !== false
          )
          .map((recommendation: RecommendationProps) =>
            recommendation.render().then(({ Content }) => {
              const { name, title, company } = recommendation.data;
              return (
                <li class="grid gap-4 px-4 py-8 sm:grid-cols-[2rem,minmax(0,1fr)] sm:px-8">
                  <Image
                    src={avatarMap[recommendation.slug]}
                    alt="Jimmy Merrittello avatar"
                    class="relative size-8 rounded-full"
                    width={128}
                    height={128}
                  />
                  <div>
                    <h3 class="font-medium sm:mt-1">{name}</h3>
                    <p class="mb-4 mt-0.5 font-mono text-sm text-neutral-400">
                      {title} at {company}
                    </p>
                    <Content />
                  </div>
                </li>
              );
            })
          )
      }
    </ul>
  </section>
  <!-- <section class="relative border-t border-neutral-600 p-4 sm:p-6">
    <SectionLabel>Callout</SectionLabel>
    <div
      class="absolute inset-0 h-full w-full opacity-75 [background-image:linear-gradient(45deg,theme(colors.neutral.700)_12.50%,transparent_12.50%,transparent_50%,theme(colors.neutral.700)_50%,theme(colors.neutral.700)_62.50%,transparent_62.50%,transparent_100%)] [background-size:4px_4px]"
      aria-hidden="true"
    >
    </div>
    <div class="relative bg-neutral-950 p-6 text-center">
      <div class="pointer-events-none absolute inset-0" aria-hidden="true">
        <div class="absolute -left-1 -top-1 size-2">
          <div
            class="absolute left-1/2 h-full w-px -translate-x-1/2 bg-neutral-600"
          >
          </div>
          <div
            class="absolute top-1/2 h-px w-full -translate-y-1/2 bg-neutral-600"
          >
          </div>
        </div>
        <div class="absolute -right-1 -top-1 size-2">
          <div
            class="absolute left-1/2 h-full w-px -translate-x-1/2 bg-neutral-600"
          >
          </div>
          <div
            class="absolute top-1/2 h-px w-full -translate-y-1/2 bg-neutral-600"
          >
          </div>
        </div>
        <div class="absolute -bottom-1 -right-1 size-2">
          <div
            class="absolute left-1/2 h-full w-px -translate-x-1/2 bg-neutral-600"
          >
          </div>
          <div
            class="absolute top-1/2 h-px w-full -translate-y-1/2 bg-neutral-600"
          >
          </div>
        </div>
        <div class="absolute -bottom-1 -left-1 size-2">
          <div
            class="absolute left-1/2 h-full w-px -translate-x-1/2 bg-neutral-600"
          >
          </div>
          <div
            class="absolute top-1/2 h-px w-full -translate-y-1/2 bg-neutral-600"
          >
          </div>
        </div>
      </div>
      <p
        class="mx-auto mb-4 flex w-fit items-center gap-2 font-mono text-xxs uppercase tracking-widest text-orange-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="size-4 fill-orange-950 stroke-orange-300"
          aria-hidden="true"
          ><circle cx="12" cy="12" r="10"></circle><path d="M12 16v-4"
          ></path><path d="M12 8h.01"></path></svg
        >Notice
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta eum,
        aliquam ratione iusto perferendis labore laboriosam natus praesentium
        minima, sit unde sed incidunt eveniet tenetur laborum blanditiis
        perspiciatis doloribus nostrum!
      </p>
      <Button variant="neutral" class="mt-6">View openings</Button>
    </div>
  </section> -->
</BaseLayout>
