---
import { getEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import TableOfContents from "@/components/TableOfContents.astro";
const page = await getEntry("pages", "uses");
const { Content, headings } = await page.render();
---

<BaseLayout title={page.data.title} description={page.data.description}>
  <header class="pb-8 pt-40 border-b border-neutral-200">
    <h1 class="font-semibold">{page.data.title}</h1>
    <p class="text-neutral-500">{page.data.description}</p>
  </header>

  <section class="py-8">
    <div class="relative grid grid-cols-3 items-start gap-x-8">
      <TableOfContents headings={headings} />
      <article class="col-span-2 prose">
        <Content />
      </article>
    </div>
  </section>
</BaseLayout>
