---
import type { CollectionEntry } from "astro:content";

interface Props {
  note: CollectionEntry<"notes">;
}

const { note } = Astro.props;
---

<a href={`/notes/${note.id}`} class="text-muted-foreground">
  <time datetime={note.data.published.toISOString()}>
    {
      new Date(note.data.published).toLocaleDateString("en-US", {
        year: "numeric",
        month: "short",
        day: "2-digit",
        weekday: "short",
      })
    }
  </time>
</a>
<header class="mt-5">
  <h1 class="link text-lg font-medium tracking-tight text-pretty">
    <a href={`/notes/${note.id}`}>{note.data.title}</a>
  </h1>
</header>
{
  note.data.description ? (
    <div class="text-muted-foreground mt-2 text-pretty">
      {note.data.description}
    </div>
  ) : null
}
