---
import type { CollectionEntry } from "astro:content";
import ArticleNote from "./ArticleNote.astro";
import LinkNote from "./LinkNote.astro";
import BasicNote from "./BasicNote.astro";

interface Props {
  note: CollectionEntry<"notes">;
  Content: any;
}

const { note, Content } = Astro.props;

function getNoteType(note: CollectionEntry<"notes">) {
  if (note.data.title && !note.data.link) return "article";
  if (note.data.title && note.data.link) return "link";
  return "basic";
}

const type = getNoteType(note);
---

<li
  class="not-first:border-separator not-first:mt-20 not-first:border-t not-first:pt-20"
>
  <article>
    {type === "article" && <ArticleNote {note} />}
    {type === "link" && <LinkNote {note} {Content} />}
    {type === "basic" && <BasicNote {note} {Content} />}
  </article>
</li>
