---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Changelog from "@/components/Changelog.astro";
import Markdown from "@/components/Markdown.astro";

const meta = {
  title: "Changelog",
  description:
    "All notable changes to this project will be documented in this file.",
};

const items = [
  {
    date: "2025-09-14",
    description: "Added [rolodex page](/rolodex)",
  },
  {
    date: "2025-08-23",
    description: "Added [gear page](/gear)",
  },
  {
    date: "2025-07-06",
    description: "Added tags [index page](/tags)",
  },
  {
    date: "2025-06-27",
    description: "Added notes [RSS feed](/notes/rss.xml)",
  },
];
---

<BaseLayout title={meta.title} description={meta.description}>
  <article class="mt-16 container">
    <dl>
      <dt class="sr-only">Last updated</dt>
      <dd>
        <time
          class="inline-block text-muted-foreground font-medium"
          datetime={new Date(items.at(0).date).toISOString()}
        >
          {
            new Date(items.at(0).date).toLocaleDateString("en-US", {
              year: "numeric",
              month: "short",
              day: "2-digit",
              weekday: "short",
            })
          }
        </time>
      </dd>
    </dl>
    <header class="mt-4">
      <h1
        class="text-2xl font-medium tracking-tight max-w-[40ch] leading-tight"
      >
        {meta.title}
      </h1>
      <p
        class="mt-4 text-muted-foreground font-medium max-w-[55ch] text-pretty"
      >
        {meta.description}
      </p>
    </header>
    <ul class="mt-8 space-y-4">
      {
        items.map((entry) => {
          const date = new Date(entry.date);
          return (
            <li class="grid grid-cols-1 sm:grid-cols-[25%_1fr] gap-x-8">
              <time class="text-muted-foreground" datetime={date.toISOString()}>
                {new Date(date).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "2-digit",
                })}
              </time>
              <Markdown content={entry.description} />
            </li>
          );
        })
      }
    </ul>
  </article>
</BaseLayout>
