---
import "../styles/global.css";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;
const metaTitle = title ? `${title} // Alex Carpenter` : "Alex Carpenter";
const metaDescription = description ? description : "UI Engineer";
---

<html lang="en">
  <head>
    <link
      rel="preload"
      href="/fonts/GeistVariableVF.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={metaDescription} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    <!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={metaTitle} />
    <meta property="twitter:description" content={metaDescription} />
    <!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->

    <!-- Sitemap -->
    <link rel="sitemap" href={new URL("/sitemap-index.xml", Astro.site)} />

    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      href={new URL("/rss.xml", Astro.site)}
    />
  </head>

  <body class="antialiased text-neutral-700 flex flex-col h-dvh px-2">
    <div class="max-w-prose w-full mx-auto flex flex-col h-full">
      <div class="flex h-2 bg-neutral-950 flex-none" aria-hidden>
        <span class="bg-neutral-900 w-6"></span>
        <span class="bg-neutral-800 w-6"></span>
        <span class="bg-neutral-700 w-6"></span>
        <span class="bg-neutral-600 w-6"></span>
        <span class="bg-green-500 w-6"></span>
        <span class="bg-neutral-500 w-6"></span>
        <span class="bg-neutral-400 w-6"></span>
        <span class="bg-neutral-300 w-6"></span>
        <span class="bg-neutral-200 w-6"></span>
        <span class="bg-neutral-100 w-6"></span>
      </div>
      <header class="relative py-4 border-b border-neutral-200">
        <p>
          <a href="/" class="font-semibold">Alex Carpenter</a>
        </p>
        <p class="text-neutral-500">UI Engineer at Clerk</p>
      </header>

      <main id="main" class="flex-1">
        <slot />
      </main>

      <footer class="border-t border-neutral-200 py-8">
        <div class="grid grid-cols-3 gap-x-8">
          <div>
            <h2 class="font-semibold">Sitemap</h2>
            <ul class="mt-4 space-y-0.5">
              {
                ["favorites", "notes", "now", "resume", "uses"].map((slug) => {
                  return (
                    <li>
                      <a href={`/${slug}`}>
                        <span class="text-neutral-300" aria-hidden>
                          /
                        </span>
                        {slug}
                      </a>
                    </li>
                  );
                })
              }
            </ul>
          </div>

          <div>
            <h2 class="font-semibold">Connect</h2>
            <ul class="mt-4 space-y-0.5">
              <li>
                <a href="https://twitter.com/hybrid_alex">Twitter</a>
              </li>
              <li>
                <a href="https://github.com/alexcarpenter">Github</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/imalexcarpenter/"
                  >LinkedIn</a
                >
              </li>
              <li><a href="mailto:im.alexcarpenter@gmail.com">Email</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
