---
import "../styles/global.css";
import { SITE_NAV, SITE_VERSION } from "@/consts";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;
const metaTitle = title ? `${title} // Alex Carpenter` : "Alex Carpenter";
const metaDescription = description ? description : "UI Engineer";
import { Icon } from "astro-icon/components";
---

<html lang="en">
  <head>
    <link
      rel="preload"
      href="/fonts/GeistVariableVF.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={metaDescription} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    <!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={metaTitle} />
    <meta property="twitter:description" content={metaDescription} />
    <!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->

    <!-- Sitemap -->
    <link rel="sitemap" href={new URL("/sitemap-index.xml", Astro.site)} />

    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      href={new URL("/rss.xml", Astro.site)}
    />
  </head>

  <body
    class="flex min-h-dvh flex-col overflow-x-hidden w-full px-4 bg-neutral-950 text-neutral-100 antialiased"
  >
    <div
      class="w-full max-w-3xl mx-auto border-x border-neutral-700 flex flex-col flex-1"
    >
      <nav class="border-b border-neutral-700">
        <div
          class="w-full h-6 opacity-75 [background-image:linear-gradient(45deg,theme(colors.neutral.700)_12.50%,transparent_12.50%,transparent_50%,theme(colors.neutral.700)_50%,theme(colors.neutral.700)_62.50%,transparent_62.50%,transparent_100%)] [background-size:4px_4px]"
          aria-hidden="true"
        >
        </div>
        <div class="flex justify-between items-center p-4 sm:px-8">
          <ul class="flex gap-4">
            {
              SITE_NAV.map((item) => {
                const isCurrent =
                  Astro.url.pathname === `${item.slug}/` ||
                  Astro.url.pathname === `${item.slug}`;
                return (
                  <li>
                    <a
                      class="text-xs text-neutral-400 hover:text-white font-mono uppercase aria-[current]:text-white"
                      href={item.slug}
                      aria-current={isCurrent ? "page" : undefined}
                    >
                      {item.slug === "/" ? (
                        <Fragment>
                          <span aria-hidden="true">~/</span>&#8288;{item.label}
                        </Fragment>
                      ) : (
                        item.label
                      )}
                    </a>
                  </li>
                );
              })
            }
          </ul>

          <a
            class:list={[
              "text-xxs font-mono border border-green-300 px-2 py-0.5 bg-green-950 text-green-300 rounded-full",
              "hover:bg-green-900",
            ]}
            href="https://github.com/alexcarpenter/alexcarpenter.me"
          >
            v{SITE_VERSION}
          </a>
        </div>
      </nav>
      <main class="flex-1">
        <slot />
      </main>
      <footer class="border-t border-neutral-700">
        <ul class="space-y-2 p-4 sm:px-8 py-8">
          <li>
            <a
              class="text-sm text-neutral-400 flex w-max items-center gap-2 hover:text-white"
              href="https://github.com/alexcarpenter"
            >
              <Icon name="github" class="text-white" aria-hidden="true" />
              <span>GitHub</span>
            </a>
          </li>
          <li>
            <a
              class="text-sm text-neutral-400 flex w-max items-center gap-2 hover:text-white"
              href="https://www.linkedin.com/in/imalexcarpenter/"
            >
              <Icon name="linkedin" class="text-white" aria-hidden="true" />
              <span>LinkedIn</span>
            </a>
          </li>
          <li>
            <a
              class="text-sm text-neutral-400 flex w-max items-center gap-2 hover:text-white"
              href="https://x.com/hybrid_alex"
            >
              <Icon name="twitter" class="text-white" aria-hidden="true" />
              <span>Twitter</span>
            </a>
          </li>
        </ul>

        <!-- <p
          class="border-t border-neutral-700 border-dashed p-4 justify-center mt-4 text-xs font-mono uppercase text-neutral-400 flex items-center gap-2"
        >
          <span
            aria-hidden="true"
            class="size-2 flex-none rounded-full bg-green-500 before:absolute before:size-2 before:animate-ping before:rounded-full before:bg-green-300"
          ></span>
          All systems operational
        </p> -->
      </footer>
    </div>
  </body>
</html>
