---
import "../styles/global.css";
import { SITE_NAV, SITE_TITLE } from "@/consts";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;
const metaTitle = title ? `${title} // Alex Carpenter` : "Alex Carpenter";
const metaDescription = description ? description : "UI Engineer";
---

<html lang="en">
  <head>
    <link
      rel="preload"
      href="/fonts/GeistVariableVF.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={metaDescription} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    <!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={metaTitle} />
    <meta property="twitter:description" content={metaDescription} />
    <!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->

    <!-- Sitemap -->
    <link rel="sitemap" href={new URL("/sitemap-index.xml", Astro.site)} />

    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      href={new URL("/rss.xml", Astro.site)}
    />
  </head>

  <body
    class="flex min-h-dvh flex-col overflow-x-hidden bg-primary px-4 text-primary antialiased"
  >
    <a
      href="#main"
      class="fixed top-0 left-0 py-1 px-2 [&:not(:focus)]:-translate-x-full [&:not(:focus)]:-translate-y-full"
      >Skip to content</a
    >
    <div class="mx-auto flex w-full min-w-0 max-w-prose flex-1 flex-col">
      <div
        class="flex h-1.5 flex-none dark:flex-row-reverse dark:justify-end gap-[0.5px]"
        aria-hidden="true"
      >
        <span class="bg-neutral-900 w-6"></span>
        <span class="bg-neutral-800 w-6"></span>
        <span class="bg-neutral-700 w-6"></span>
        <span class="bg-neutral-600 w-6"></span>
        <span class="bg-neutral-500 w-6"></span>
        <span class="bg-neutral-400 w-6"></span>
        <span class="bg-neutral-300 w-6"></span>
        <span class="bg-neutral-200 w-6"></span>
        <span class="bg-neutral-100 w-6"></span>
        <span class="bg-neutral-50 w-6"></span>
      </div>
      <header
        class:list={[
          "relative pt-4",
          "flex flex-wrap justify-between items-end gap-4",
          "py-4 border-b border-primary",
        ]}
      >
        <div>
          <p>
            <a href="/" class="font-semibold">{SITE_TITLE}</a>
          </p>
          <p class="text-secondary">User Interface Engineer at Clerk</p>
        </div>
        <!-- <nav>
          <ul class="flex gap-x-2">
            {
              SITE_NAV.map(({ label, slug }) => {
                const isCurrent = Astro.url.pathname === `${slug}/` || Astro.url.pathname === `${slug}`;
                return (
                  <li>
                    <a
                      href={slug}
                      aria-current={isCurrent ? "page" : undefined}
                      class="relative text-secondary aria-[current]:text-primary"
                    >
                      {label}
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </nav> -->
      </header>

      <main id="main" tabindex="-1" class="flex-1 outline-none">
        <slot />
      </main>

      <footer class="border-t border-primary py-8">
        <div class="grid grid-cols-2 gap-8 sm:grid-cols-3">
          <nav>
            <h2 class="font-semibold">Sitemap</h2>
            <ul class="mt-4 space-y-0.5">
              {
                SITE_NAV.map(({ label, slug }) => {
                  const isCurrent =
                    Astro.url.pathname === `${slug}/` ||
                    Astro.url.pathname === `${slug}`;
                  return (
                    <li>
                      <a
                        href={slug}
                        aria-current={isCurrent ? "page" : undefined}
                      >
                        {label}
                      </a>
                    </li>
                  );
                })
              }
            </ul>
          </nav>

          <div>
            <h2 class="font-semibold">Connect</h2>
            <ul class="mt-4 space-y-0.5">
              <li>
                <a href="https://twitter.com/hybrid_alex">Twitter</a>
              </li>
              <li>
                <a href="https://github.com/alexcarpenter">Github</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/imalexcarpenter/"
                  >LinkedIn</a
                >
              </li>
              <li><a href="mailto:im.alexcarpenter@gmail.com">Email</a></li>
            </ul>
          </div>

          <div>
            <h2 class="sr-only opacity-0 sm:not-sr-only">Status</h2>
            <p class="relative flex items-center gap-x-2 sm:mt-4">
              <span
                aria-hidden="true"
                class="size-2 flex-none rounded-full bg-green-500 before:absolute before:size-2 before:animate-ping before:rounded-full before:bg-green-500"
              ></span>All systems operational
            </p>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="ml-4 mt-4 size-4" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe"><circle cx="12" cy="12" r="10"></circle><path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path><path d="M2 12h20"></path></svg> -->
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
