---
import "@/styles/global.css";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;
const metaTitle = title ? `${title} // Alex Carpenter` : "Alex Carpenter";
const metaDescription = description ? description : "UI Engineer";
---

<html lang="en">
  <head>
    <link
      rel="preload"
      href="/fonts/Geist[wght].woff2"
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/fonts/GeistMono[wght].woff2"
      as="font"
      type="font/woff2"
    />

    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Theme Color -->
    <meta
      name="theme-color"
      content="#fafafa"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#0a0a0a"
      media="(prefers-color-scheme: dark)"
    />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={metaDescription} />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={metaTitle} />
    <meta property="twitter:description" content={metaDescription} />

    <!-- Sitemap -->
    <link rel="sitemap" href={new URL("/sitemap-index.xml", Astro.site)} />

    <!-- RSS Feed -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Notes - Alex Carpenter"
      href={new URL("/notes/rss.xml", Astro.site)}
    />
  </head>

  <body>
    <a
      href="#main"
      class="fixed top-0 left-0 -translate-y-full bg-blue-600 px-3 py-1.5 text-white focus-visible:translate-y-0 dark:bg-blue-500"
      >Skip to content</a
    >
    <div class="background-grid mb-30 h-3 w-full" aria-hidden="true"></div>
    <nav class="container mb-5">
      <p
        class="font-medium tracking-tight text-orange-600 dark:text-orange-400"
      >
        <a href="/">Alex Carpenter</a>
      </p>
    </nav>
    <main class="flex-1" id="main">
      <slot />
    </main>
    <footer class="container mt-20">
      <h2 class="font-medium tracking-tight text-blue-600 dark:text-blue-400">
        Connect
      </h2>
      <dl class="mt-10 grid grid-cols-[25%_1fr] gap-x-10 gap-y-5">
        {
          [
            {
              title: "GitHub",
              username: "@alexcarpenter",
              link: "https://github.com/alexcarpenter",
            },
            {
              title: "Twitter",
              username: "@alexcarp_me",
              link: "https://twitter.com/alexcarp_me",
            },
            {
              title: "Bluesky",
              username: "@alexcarpenter.me",
              link: "https://bsky.app/profile/alexcarpenter.me",
            },
            {
              title: "LinkedIn",
              username: "@alexcarpenter",
              link: "https://www.linkedin.com/in/imalexcarpenter/",
            },
          ].map((social) => {
            return (
              <Fragment>
                <dt class="text-muted-foreground">{social.title}</dt>
                <dd>
                  <a
                    href={social.link}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {social.username}
                  </a>
                </dd>
              </Fragment>
            );
          })
        }
      </dl>
      <div class="mt-10">
        <svg
          viewBox="0 0 61 32"
          fill="none"
          class="w-8"
          aria-label="Made in the U.S.A."
          ><path d="M60.1562 0H0.15625V31.5789H60.1562V0Z" fill="#B41E44"
          ></path><path
            d="M0.15625 3.64355H60.1562H0.15625ZM60.1562 8.50185H0.15625H60.1562ZM0.15625 13.3602H60.1562H0.15625ZM60.1562 18.2185H0.15625H60.1562ZM0.15625 23.0768H60.1562H0.15625ZM60.1562 27.9351H0.15625H60.1562Z"
            fill="black"></path><path
            d="M0.15625 3.64355H60.1563M60.1563 8.50185H0.15625M0.15625 13.3602H60.1563M60.1563 18.2185H0.15625M0.15625 23.0768H60.1563M60.1563 27.9351H0.15625"
            stroke="white"
            stroke-width="2.42915"></path><path
            d="M24.1562 0H0.15625V17.004H24.1562V0Z"
            fill="#1B3460"></path><path
            d="M2.15486 0.729892L2.72599 2.48764L1.23076 1.40129H3.07897L1.58374 2.48764L2.15486 0.729892Z"
            fill="white"></path><path
            d="M2.15486 4.1307L2.72599 5.88845L1.23076 4.8021H3.07897L1.58374 5.88845L2.15486 4.1307Z"
            fill="white"></path><path
            d="M2.15486 7.53151L2.72599 9.28926L1.23076 8.20291H3.07897L1.58374 9.28926L2.15486 7.53151Z"
            fill="white"></path><path
            d="M2.15486 10.9323L2.72599 12.6901L1.23076 11.6037H3.07897L1.58374 12.6901L2.15486 10.9323Z"
            fill="white"></path><path
            d="M2.15514 14.3329L2.72627 16.0907L1.23104 15.0043H3.07925L1.58401 16.0907L2.15514 14.3329Z"
            fill="white"></path><path
            d="M4.15517 2.43028L4.7263 4.18803L3.23107 3.10168H5.07928L3.58405 4.18803L4.15517 2.43028Z"
            fill="white"></path><path
            d="M4.15517 5.83109L4.7263 7.58884L3.23107 6.50249H5.07928L3.58405 7.58884L4.15517 5.83109Z"
            fill="white"></path><path
            d="M4.15517 9.2319L4.7263 10.9896L3.23107 9.9033H5.07928L3.58405 10.9896L4.15517 9.2319Z"
            fill="white"></path><path
            d="M4.15517 12.6327L4.7263 14.3905L3.23107 13.3041H5.07928L3.58405 14.3905L4.15517 12.6327Z"
            fill="white"></path><path
            d="M6.15503 0.729662L6.72616 2.48741L5.23093 1.40106H7.07913L5.5839 2.48741L6.15503 0.729662Z"
            fill="white"></path><path
            d="M6.15503 4.13047L6.72616 5.88822L5.23093 4.80187H7.07913L5.5839 5.88822L6.15503 4.13047Z"
            fill="white"></path><path
            d="M6.15503 7.53128L6.72616 9.28903L5.23093 8.20268H7.07913L5.5839 9.28903L6.15503 7.53128Z"
            fill="white"></path><path
            d="M6.15503 10.9321L6.72616 12.6898L5.23093 11.6035H7.07913L5.5839 12.6898L6.15503 10.9321Z"
            fill="white"></path><path
            d="M6.15532 14.3327L6.72645 16.0904L5.23122 15.0041H7.07943L5.5842 16.0904L6.15532 14.3327Z"
            fill="white"></path><path
            d="M8.15536 2.43005L8.72648 4.1878L7.23125 3.10145H9.07946L7.58423 4.1878L8.15536 2.43005Z"
            fill="white"></path><path
            d="M8.15536 5.83086L8.72648 7.58861L7.23125 6.50226H9.07946L7.58423 7.58861L8.15536 5.83086Z"
            fill="white"></path><path
            d="M8.15536 9.23167L8.72648 10.9894L7.23125 9.90307H9.07946L7.58423 10.9894L8.15536 9.23167Z"
            fill="white"></path><path
            d="M8.15536 12.6325L8.72648 14.3902L7.23125 13.3039H9.07946L7.58423 14.3902L8.15536 12.6325Z"
            fill="white"></path><path
            d="M10.1549 0.729892L10.7261 2.48764L9.23084 1.40129H11.079L9.58382 2.48764L10.1549 0.729892Z"
            fill="white"></path><path
            d="M10.1549 4.1307L10.7261 5.88845L9.23084 4.8021H11.079L9.58382 5.88845L10.1549 4.1307Z"
            fill="white"></path><path
            d="M10.1549 7.53151L10.7261 9.28926L9.23084 8.20291H11.079L9.58382 9.28926L10.1549 7.53151Z"
            fill="white"></path><path
            d="M10.1549 10.9323L10.7261 12.6901L9.23084 11.6037H11.079L9.58382 12.6901L10.1549 10.9323Z"
            fill="white"></path><path
            d="M10.1552 14.3329L10.7263 16.0907L9.2311 15.0043H11.0793L9.58408 16.0907L10.1552 14.3329Z"
            fill="white"></path><path
            d="M12.1552 2.43028L12.7264 4.18803L11.2311 3.10168H13.0793L11.5841 4.18803L12.1552 2.43028Z"
            fill="white"></path><path
            d="M12.1552 5.83109L12.7264 7.58884L11.2311 6.50249H13.0793L11.5841 7.58884L12.1552 5.83109Z"
            fill="white"></path><path
            d="M12.1552 9.2319L12.7264 10.9896L11.2311 9.9033H13.0793L11.5841 10.9896L12.1552 9.2319Z"
            fill="white"></path><path
            d="M12.1552 12.6327L12.7264 14.3905L11.2311 13.3041H13.0793L11.5841 14.3905L12.1552 12.6327Z"
            fill="white"></path><path
            d="M14.1551 0.729662L14.7262 2.48741L13.231 1.40106H15.0792L13.584 2.48741L14.1551 0.729662Z"
            fill="white"></path><path
            d="M14.1551 4.13047L14.7262 5.88822L13.231 4.80187H15.0792L13.584 5.88822L14.1551 4.13047Z"
            fill="white"></path><path
            d="M14.1551 7.53128L14.7262 9.28903L13.231 8.20268H15.0792L13.584 9.28903L14.1551 7.53128Z"
            fill="white"></path><path
            d="M14.1551 10.9321L14.7262 12.6898L13.231 11.6035H15.0792L13.584 12.6898L14.1551 10.9321Z"
            fill="white"></path><path
            d="M14.1554 14.3327L14.7265 16.0904L13.2313 15.0041H15.0795L13.5842 16.0904L14.1554 14.3327Z"
            fill="white"></path><path
            d="M16.1554 2.43005L16.7265 4.1878L15.2313 3.10145H17.0795L15.5843 4.1878L16.1554 2.43005Z"
            fill="white"></path><path
            d="M16.1554 5.83086L16.7265 7.58861L15.2313 6.50226H17.0795L15.5843 7.58861L16.1554 5.83086Z"
            fill="white"></path><path
            d="M16.1554 9.23167L16.7265 10.9894L15.2313 9.90307H17.0795L15.5843 10.9894L16.1554 9.23167Z"
            fill="white"></path><path
            d="M16.1554 12.6325L16.7265 14.3902L15.2313 13.3039H17.0795L15.5843 14.3902L16.1554 12.6325Z"
            fill="white"></path><path
            d="M18.1551 0.729662L18.7262 2.48741L17.231 1.40106H19.0792L17.584 2.48741L18.1551 0.729662Z"
            fill="white"></path><path
            d="M18.1551 4.13047L18.7262 5.88822L17.231 4.80187H19.0792L17.584 5.88822L18.1551 4.13047Z"
            fill="white"></path><path
            d="M18.1551 7.53128L18.7262 9.28903L17.231 8.20268H19.0792L17.584 9.28903L18.1551 7.53128Z"
            fill="white"></path><path
            d="M18.1551 10.9321L18.7262 12.6898L17.231 11.6035H19.0792L17.584 12.6898L18.1551 10.9321Z"
            fill="white"></path><path
            d="M18.1554 14.3327L18.7265 16.0904L17.2313 15.0041H19.0795L17.5842 16.0904L18.1554 14.3327Z"
            fill="white"></path><path
            d="M20.1554 2.43005L20.7265 4.1878L19.2313 3.10145H21.0795L19.5843 4.1878L20.1554 2.43005Z"
            fill="white"></path><path
            d="M20.1554 5.83086L20.7265 7.58861L19.2313 6.50226H21.0795L19.5843 7.58861L20.1554 5.83086Z"
            fill="white"></path><path
            d="M20.1554 9.23167L20.7265 10.9894L19.2313 9.90307H21.0795L19.5843 10.9894L20.1554 9.23167Z"
            fill="white"></path><path
            d="M20.1554 12.6325L20.7265 14.3902L19.2313 13.3039H21.0795L19.5843 14.3902L20.1554 12.6325Z"
            fill="white"></path><path
            d="M22.1555 0.729433L22.7266 2.48718L21.2314 1.40083H23.0796L21.5843 2.48718L22.1555 0.729433Z"
            fill="white"></path><path
            d="M22.1555 4.13024L22.7266 5.88799L21.2314 4.80164H23.0796L21.5843 5.88799L22.1555 4.13024Z"
            fill="white"></path><path
            d="M22.1555 7.53105L22.7266 9.2888L21.2314 8.20245H23.0796L21.5843 9.2888L22.1555 7.53105Z"
            fill="white"></path><path
            d="M22.1555 10.9319L22.7266 12.6896L21.2314 11.6033H23.0796L21.5843 12.6896L22.1555 10.9319Z"
            fill="white"></path><path
            d="M22.1557 14.3324L22.7269 16.0902L21.2316 15.0038H23.0798L21.5846 16.0902L22.1557 14.3324Z"
            fill="white"></path></svg
        >
      </div>
    </footer>
  </body>
</html>
