---
import "../styles/global.css";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;
const metaTitle = title ? `${title} // Alex Carpenter` : "Alex Carpenter";
const metaDescription = description ? description : "UI Engineer";
---

<html lang="en">
  <head>
    <link
      rel="preload"
      href="/fonts/GeistVariableVF.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={metaDescription} />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:description" content={metaDescription} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={metaTitle} />
    <meta property="twitter:description" content={metaDescription} />

    <!-- Sitemap -->
    <link rel="sitemap" href={new URL("/sitemap-index.xml", Astro.site)} />

    <!-- RSS Feed -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Notes - Alex Carpenter"
      href={new URL("/notes/rss.xml", Astro.site)}
    />
  </head>

  <body>
    <a
      href="#main"
      class="fixed top-0 left-0 py-1.5 px-3 bg-blue-600 dark:bg-blue-500 text-white -translate-y-full focus-visible:translate-y-0"
      >Skip to content</a
    >
    <div class="mb-32 h-4 w-full angled-lines" aria-hidden="true"></div>
    <nav class="container">
      <p
        class="text-orange-600 dark:text-orange-400 font-medium tracking-tight"
      >
        <a href="/">Alex Carpenter</a>
      </p>
    </nav>
    <main class="flex-1" id="main">
      <slot />
    </main>
    <footer class="mt-16 container">
      <h2 class="text-blue-600 dark:text-blue-400 font-medium tracking-tight">
        Connect
      </h2>
      <dl class="mt-8 grid grid-cols-[25%_1fr] gap-y-4 gap-x-8">
        {
          [
            {
              title: "GitHub",
              username: "@alexcarpenter",
              link: "https://github.com/alexcarpenter",
            },
            {
              title: "Twitter",
              username: "@hybrid_alex",
              link: "https://twitter.com/hybrid_alex",
            },
            {
              title: "Bluesky",
              username: "@alexcarpenter.me",
              link: "https://bsky.app/profile/alexcarpenter.me",
            },
            {
              title: "LinkedIn",
              username: "@alexcarpenter",
              link: "https://www.linkedin.com/in/imalexcarpenter/",
            },
          ].map((social) => {
            return (
              <Fragment>
                <dt class="text-foreground-muted">{social.title}</dt>
                <dd>
                  <a
                    href={social.link}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {social.username}
                  </a>
                </dd>
              </Fragment>
            );
          })
        }
      </dl>
    </footer>
  </body>
</html>
