---
import "@/styles/global.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {
  title = "Code Image",
  description = "Paste code and download a shareable image.",
} = Astro.props;
const metaTitle = `${title} // Alex Carpenter`;
---

<html lang="en">
  <head>
    <link
      rel="preload"
      href="/fonts/GeistMono[wght].woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <title>{metaTitle}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={description} />
    <meta
      name="theme-color"
      content="#fafafa"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#0a0a0a"
      media="(prefers-color-scheme: dark)"
    />
    <slot name="head" />
  </head>
  <body class="font-mono text-xs/5">
    <main id="main">
      <slot />
    </main>
  </body>
</html>
